  <div class="row" ng-controller="donviController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="get();loadCoso()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Cơ sở đào tạo : {{totalCoso}} bản ghi</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
             <select class="col-md-2 form-control form-control-sm itemsByPage"
             ng-model="itemsByPage" 
             ng-options="item.value as item.label for item in pageOption"></select>
             <form ng-submit="searchTextChange('coso',searchTextCoso)">
               <input type="text" class="form-control form-control-sm" ng-model="searchTextCoso"
               style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm cơ sở">
             </form>
           </div>
         </header>

         <table id="dataTbl" class="table table-striped table-advance table-hover" 
         st-safe-src="listCoso" st-table="display_records">
         <thead>
          <th>STT</th>
          <th st-sort="name">Tên cơ sở đào tạo</th>
          <th width="auto">|&#160;Hành động</th>
        </thead>

        <tbody id="tableBody">
          <tr ng-repeat="itemCoso in display_records" st-select-row="itemCoso" st-select-mode="multiple">
            <th>{{$index+1}}</th>
            <td>{{itemCoso.name}}</td>
            <td>
              <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="findChild('tochuc',itemCoso)">Đơn vị trực thuộc</a>
            </td>
          </tr>
        </tbody>

        <tfoot style="height: 80px;">
          <tr>
            <td colspan="3" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage">
              </div>
            </td>
          </tr>
        </tfoot>

      </table>
    </section>
    <!-- ./ table -->

  </div>

</div>
<!-- ./row -->

<div class="row" ng-if="listTochuc.length!='0'">
  <div class="col-md-12 portlets">

    <!-- total -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="countTotal">Tổ chức trực thuộc : {{totalTochuc}} bản ghi</h3>
      </div>
    </div>
    <!-- ./ total -->

    <!-- table -->
    <section class="panel panel-default">
      <header class="row panel-heading" style="width: 100%; margin:auto;">
       <div class="col-md-12">
         <select class="col-md-2 form-control form-control-sm itemsByPage"
         ng-model="itemsByPage" 
         ng-options="item.value as item.label for item in pageOption"></select>
         <form ng-submit="searchTextChange('tochuc',searchTextTochuc)">
           <input type="text" class="form-control form-control-sm" ng-model="searchTextTochuc"
           style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm tổ chức">
         </form>
       </div>
     </header>

     <table id="dataTbl" class="table table-striped table-advance table-hover" 
     st-safe-src="listTochuc" st-table="display_records">
     <thead>
      <th>STT</th>
      <th>Tên tổ chức trực thuộc</th>
      <th>|&#160;Hành động</th>
    </thead>

    <tbody id="tableBody">
      <tr ng-repeat="itemTochuc in display_records" st-select-row="itemTochuc" st-select-mode="multiple">
        <th>{{$index+1}}</th>
        <td>{{itemTochuc.name}}</td>
        <td>
          <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="findChild('khoa',itemTochuc)">Đơn vị trực thuộc</a>
        </td>
      </tr>
    </tbody>

    <tfoot style="height: 80px;">
      <tr>
        <td colspan="3" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
</section>
<!-- ./ table -->

</div>

</div>
<!-- ./row -->

<div class="row" ng-if="listKhoa.length!='0'">
  <div class="col-md-12 portlets">

    <!-- total -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="countTotal">Khoa-Phòng ban : {{totalKhoa}} bản ghi</h3>
      </div>
    </div>
    <!-- ./ total -->

    <!-- table -->
    <section class="panel panel-default">
      <header class="row panel-heading" style="width: 100%; margin:auto;">
       <div class="col-md-12">
         <select class="col-md-2 form-control form-control-sm itemsByPage"
         ng-model="itemsByPage" 
         ng-options="item.value as item.label for item in pageOption"></select>
         <form ng-submit="searchTextChange('khoa',searchTextKhoa)">
           <input type="text" class="form-control form-control-sm" ng-model="searchTextKhoa"
           style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm khoa-phòng ban">
         </form>
       </div>
     </header>

     <table id="dataTbl" class="table table-striped table-advance table-hover" 
     st-safe-src="listKhoa" st-table="display_records">
     <thead>
      <th>STT</th>
      <th>Tên khoa-phòng ban</th>
      <th>|&#160;Hành động</th>
    </thead>

    <tbody id="tableBody">
      <tr ng-repeat="itemKhoa in display_records" st-select-row="itemKhoa" st-select-mode="multiple">
        <th>{{$index+1}}</th>
        <td>{{itemKhoa.name}}</td>
        <td>
          <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="findChild('bomon',itemKhoa)">Đơn vị trực thuộc</a>
        </td>
      </tr>
    </tbody>

    <tfoot style="height: 80px;">
      <tr>
        <td colspan="3" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
</section>
<!-- ./ table -->

</div>

</div>
<!-- ./row -->

<div class="row" ng-if="listBomon.length!='0'">
  <div class="col-md-12 portlets">

    <!-- total -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="countTotal">Bộ môn-Tổ : {{totalBomon}} bản ghi</h3>
      </div>
    </div>
    <!-- ./ total -->

    <!-- table -->
    <section class="panel panel-default">
      <header class="row panel-heading" style="width: 100%; margin:auto;">
       <div class="col-md-12">
         <select class="col-md-2 form-control form-control-sm itemsByPage"
         ng-model="itemsByPage" 
         ng-options="item.value as item.label for item in pageOption"></select>
         <form ng-submit="searchTextChange('bomon',searchTextBomon)">
           <input type="text" class="form-control form-control-sm" ng-model="searchTextBomon"
           style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm bộ môn-tổ">
         </form>
       </div>
     </header>

     <table id="dataTbl" class="table table-striped table-advance table-hover" 
     st-safe-src="listBomon" st-table="display_records">
     <thead>
      <th>STT</th>
      <th>Tên Bộ môn-Tổ</th>
    </thead>

    <tbody id="tableBody">
      <tr ng-repeat="itemBomon in display_records" st-select-row="itemBomon" st-select-mode="multiple">
        <th>{{$index+1}}</th>
        <td>{{itemBomon.name}}</td>
      </tr>
    </tbody>

    <tfoot style="height: 80px;">
      <tr>
        <td colspan="3" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
</section>
<!-- ./ table -->

</div>

</div>
<!-- ./row -->

</div>
</div>


