<!-- row 1 -->
<div class="form-group">
  <label class="col-lg-2 control-label">Số hiệu cán bộ</label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.sohieucanbo">
  </div>
  <label class="col-lg-2 control-label required">Số CMND/CCCD </label>
  <div class="col-lg-3">
    <input type="text" class="form-control"  ng-model="$parent.updateItem.cmnd" name="cmnd">
  </div>
</div>
<!-- row 2 -->
<div class="form-group">
  <label class="col-lg-2 control-label required">Họ và tên </label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.hoten" name="hoten">
  </div>
  <label class="col-lg-2 control-label required">Ngày cấp </label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.ngaycapcmt" name="ngaycapcmt">
  </div>
</div>
<!-- row 3 -->
<div class="form-group">
  <label class="col-lg-2 control-label required">Ngày sinh </label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.ngaysinh" name="ngaysinh">
  </div>
  <label class="col-lg-2 control-label required">Nơi cấp </label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.noicapcmt" name="noicapcmt">
  </div>
</div>
<!-- row 4 -->
<div class="form-group">
  <label class="col-lg-2 control-label required">Giới tính </label>
  <div class="col-lg-3">
    <select name="" class="form-control" ng-model="$parent.updateItem.gioitinh" name="gioitinh">
      <option value="" selected>-Chọn-</option>
      <option value="1">Nam</option>
      <option value="0">Nữ</option>
    </select>
  </div>
  <label class="col-lg-2 control-label required">Dân tộc </label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.dantoc" name="dantoc">
  </div>
</div>
<!-- row 5 -->
<div class="form-group">
  <label class="col-lg-2 control-label">Tên gọi khác</label>
  <div class="col-lg-3">
    <input type="text" class="form-control" id="occupation"  ng-model="$parent.updateItem.tengoikhac">
  </div>
  <label class="col-lg-2 control-label required">Tôn giáo </label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.tongiao" name="tongiao">
  </div>
</div>
<!-- row 6 -->
<div class="form-group">
  <label class="col-lg-2 control-label">Số điện thoại</label>
  <div class="col-lg-3">
    <input type="text" class="form-control" id="mobile" ng-model="$parent.updateItem.dienthoai">
  </div>
  <label class="col-lg-2 control-label required">Xuất thân gia đình </label>
  <div class="col-lg-3">
   <select name="" class="form-control" ng-model="$parent.updateItem.xuatthan" name="xuatthan">
     <option value="">-Chọn-</option>
     <option value="Tư sản">Tư sản</option>
     <option value="Công nhân">Công nhân</option>
     <option value="Trí thức">Trí thức</option>
     <option value="Tiểu chủ">Tiểu chủ</option>
     <option value="Nông dân">Nông dân</option>
     <option value="Cán bộ">Cán bộ</option>
     <option value="Công chức">Công chức</option>
     <option value="Quân nhân">Quân nhân</option>
     <option value="Hưu trí">Hưu trí</option>
     <option value="Khác">Khác</option>
   </select>
 </div>
</div>
<!-- row 7 -->
<div class="form-group">
  <label class="col-lg-2 control-label required">Nghề nghiệp trước tuyển dụng 
    </label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.nghetruoctuyendung" name="nghetruoctuyendung">
  </div>
  <label class="col-lg-2 control-label">Nhóm máu</label>
  <div class="col-lg-3">
    <select name="" class="form-control" ng-model="$parent.updateItem.nhommau">
     <option value="">-Chọn-</option>
     <option value="O">O</option>
     <option value="A">A</option>
     <option value="B">B</option>
     <option value="AB">AB</option>
   </select>
 </div>
</div>
<!-- row 8 -->
<div class="form-group">
  <label class="col-lg-2 control-label required">Cơ quan tuyển dụng </label>
  <div class="col-lg-3">
    <textarea class="form-control" rows="3" ng-model="$parent.updateItem.coquantuyendung" 
    name="coquantuyendung"></textarea>
  </div>
  <label class="col-lg-2 control-label">Tình trạng sức khỏe hiện tại</label>
  <div class="col-lg-3">
    <textarea name="" class="form-control" rows="3" ng-model="$parent.updateItem.tinhtrangsuckhoe"></textarea>
  </div>
</div>
<!-- row 9 -->
<div class="form-group">
  <label class="col-lg-2 control-label required">Ngày vào cơ quan </label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.coquanhientai_ngayvao" 
    name="coquanhientai_ngayvao">
  </div>
  <label class="col-lg-2 control-label">Cân nặng (kg)</label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.cannang">
  </div>
</div>
<!-- row 10 -->
<div class="form-group">
  <label class="col-lg-2 control-label">Ngày tham gia CM</label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.cachmang_ngayvao">
  </div>
  <label class="col-lg-2 control-label">Chiều cao (m)</label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.chieucao">
  </div>
</div>
<!-- row 11 -->
<div class="form-group">
  <label class="col-lg-2 control-label">Tổ chức chính trị (TCCT)</label>
  <div class="col-lg-3">
    <input type="text" class="form-control" ng-model="$parent.updateItem.tochucchinhtri">
  </div>
  <label class="col-lg-2 control-label">Ngày tham gia ĐCSVN</label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.dangcongsan_ngayvao">
  </div>
</div>
<!-- rpw 12 -->
<div class="form-group">
  <label class="col-lg-2 control-label">Ngày tham gia (TCCT)</label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.ngaythamgiatc">
  </div>
  <label class="col-lg-2 control-label">Ngày tham gia ĐCSVN chính thức</label>
  <div class="col-lg-3">
    <input type="date" class="form-control" ng-model="$parent.updateItem.dangcongsan_ngaychinhthuc">
  </div>
</div>