 <!-- row 1 -->
 <div class="form-group">
 	<div class="row" style="margin-bottom: 10px;margin-left: 40%;">
 		<div class="col-lg-5">
 			<label class="required">Đơn vị công tác hiện tại</label>
 		</div>
 	</div>
 	<div class="col-lg-3">
 		<select name="cosodaotao_id" class="form-control" 
 		ng-model="$parent.updateItem.cosodaotao_id"
 		ng-options="csdt.cosodaotaoid as csdt.name for csdt in cosoOptions" 
 		ng-change="getTochucByCoso($parent.updateItem.cosodaotao_id)">
 	</select>
 </div>
 <div class="col-lg-3">
 	<select class="form-control" ng-model="$parent.updateItem.tochuctructhuoc_id"
 	ng-options="tc.tochuctructhuocid as tc.name for tc in tochucOptions"
 	ng-change="getKhoaByTochuc($parent.updateItem.tochuctructhuoc_id)">
 </select>
</div>
<div class="col-lg-3">
	<select class="form-control" ng-model="$parent.updateItem.khoaphongban_id"
	ng-options="kpb.khoaphongbanid as kpb.name for kpb in $parent.khoaOptions" 
	ng-change="$parent.getBomonByKhoa($parent.updateItem.khoaphongban_id)">
</select>
</div>
<div class="col-lg-3">
	<select class="form-control" ng-model="$parent.updateItem.bomonto_id"
	ng-options="bmt.bomontoid as bmt.name for bmt in $parent.bomonOptions">
</select>
</div>
</div>
<!-- row 2 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Chức vụ hiện tại</label>
	<div class="col-lg-3">
		<input type="text" class="form-control" ng-model="$parent.updateItem.chucvu">
	</div>
	<label class="col-lg-2 control-label">Ngày bổ nhiệm</label>
	<div class="col-lg-3">
		<input type="date" class="form-control" ng-model="$parent.updateItem.chucvudate">
	</div>
</div>
<!-- row 2 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Cấp ủy hiện tại</label>
	<div class="col-lg-3">
		<input type="text" class="form-control" 
		ng-model="$parent.updateItem.capuyhientai">
	</div>
	<label class="col-lg-2 control-label">Cấp ủy kiêm</label>
	<div class="col-lg-3">
		<input type="text"
		class="form-control" ng-model="$parent.updateItem.capuykiem">
	</div>
</div>
<!-- row 3 -->
<div class="form-group">
	<label class="col-lg-2 control-label required">Công tác chính</label>
	<div class="col-lg-3">
		<textarea name="congtacdanglam" class="form-control" ng-model="$parent.updateItem.congtacdanglam"></textarea>
	</div>
	<label class="col-lg-2 control-label required">Sở trường công tác</label>
	<div class="col-lg-3">
		<textarea name="sotruongcongtac" class="form-control" ng-model="$parent.updateItem.sotruongcongtac"></textarea>
	</div>
</div>
<!-- row 4 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Phụ cấp giảng viên (GV)/Ngày</label>
	<div class="col-lg-3">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.phucapgiaovien">
	</div>
	<label class="col-lg-2 control-label">Ngày cấp (GV)</label>
	<div class="col-lg-3">
		<input type="date"  class="form-control" ng-model="$parent.updateItem.ngaypcgv">
	</div>
</div>
<!-- row 5 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Phụ cấp chức vụ (CV)/Ngày</label>
	<div class="col-lg-3">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.phucapchucvu">
	</div>
	<label class="col-lg-2 control-label">Ngày cấp (CV)</label>
	<div class="col-lg-3">
		<input type="date"  class="form-control" ng-model="$parent.updateItem.ngaypccv">
	</div>
</div>
<!-- row 6 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Phụ cấp trách nhiệm (TN)/Ngày</label>
	<div class="col-lg-3">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.phucaptrachnhiem">
	</div>
	<label class="col-lg-2 control-label">Ngày cấp (TN)</label>
	<div class="col-lg-3">
		<input type="date"  class="form-control" ng-model="$parent.updateItem.ngaypctn">
	</div>
</div>
<!-- row 7 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Phụ cấp quân sự (QS)/Ngày</label>
	<div class="col-lg-3">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.phucapquansu">
	</div>
	<label class="col-lg-2 control-label">Ngày cấp (QS)</label>
	<div class="col-lg-3">
		<input type="date"  class="form-control" ng-model="$parent.updateItem.ngaypcqs">
	</div>
</div>
<!-- row 8 -->
<div class="form-group">
	<label class="col-lg-2 control-label">Phụ cấp khác/Ngày</label>
	<div class="col-lg-3">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.phucapkhac">
	</div>
	<label class="col-lg-2 control-label">Ghi chú phụ cấp khác</label>
	<div class="col-lg-3">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.phucapkhac_ghichu">
	</div>
</div>