 <!-- row 1 -->
 <h3 style="font-family: sans-serif;margin-bottom: 20px;">Nghĩa vụ quân sự:</h3>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Ngày nhập ngũ</label>
 	<div class="col-lg-3">
 		<input type="date"  class="form-control" ng-model="$parent.updateItem.ngaynhapngu">
 	</div>
 	<label class="col-lg-2 control-label">Ngày xuất ngũ</label>
 	<div class="col-lg-3">
 		<input type="date"  class="form-control" ng-model="$parent.updateItem.ngayxuatngu">
 	</div>
 </div>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Quân hàm cao nhất (QHCN)</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.quanhamcaonhat_ten">
 	</div>
 	<label class="col-lg-2 control-label">Năm (QHCN)</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.quanhamcaonhat_nam">
 	</div>
 </div>
 <!-- row 2 -->
 <h3 style="font-family: sans-serif;margin-bottom: 20px;">Khen thưởng-Kỷ luật:</h3>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Khen thưởng cao nhất (KTCN)</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.khenthuongcaonhat">
 	</div>
 	<label class="col-lg-2 control-label">Năm (KTCN)</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.namkhenthuongcaonhat">
 	</div>
 </div>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Kỷ luật cao nhất (KLCN)</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.kyluatcaonhat">
 	</div>
 	<label class="col-lg-2 control-label">Năm (KLCN)</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.namkyluatcaonhat">
 	</div>
 </div>
 <!-- row 3 -->
 <h3 style="font-family: sans-serif;margin-bottom: 20px;">Thông tin chính sách-Bảo hiểm:</h3>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Đối tượng chính sách</label>
 	<div class="col-lg-3">
 		<select name="" class="form-control" ng-model="$parent.updateItem.dtchinhsach">
 			<option value="">-Chọn-</option>
 			<option value="Thương binh">Thương binh</option>
 			<option value="Bệnh binh">Bệnh binh</option>
 			<option value="Thân nhân 1 liệt sĩ">Thân nhân 1 liệt sĩ</option>
 			<option value="Thân nhân 2 liệt sĩ">Thân nhân 2 liệt sĩ</option>
 			<option value="Quân nhân TNLĐ-BNN">Quân nhân TNLĐ-BNN</option>
 			<option value="Hoạt động KC-Có công với CM">Hoạt động KC-Có công với CM</option>
 			<option value="Thương tật hạng 1">Thương tật hạng 1</option>
 			<option value="Thương tật hạng 2">Thương tật hạng 2</option>
 			<option value="Thương tật hạng 3">Thương tật hạng 3</option>
 			<option value="Thương tật hạng 4">Thương tật hạng 4</option>
 			<option value="Thương tật hạng 5/6">Thương tật hạng 5/6</option>
 			<option value="Thương tật hạng 1/8">Thương tật hạng 1/8</option>
 			<option value="Con liệt sĩ">Con liệt sĩ</option>
 			<option value="Con thương binh">Con thương binh</option>
 			<option value="Người nhiễm chất độc da cam Dioxin">Người nhiễm chất độc da cam Dioxin</option>
 		</select>
 	</div>
 	<label class="col-lg-2 control-label">Số sổ BHXH</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.sosobaohiem">
 	</div>
 </div>
 <div class="form-group" ng-if="$parent.updateItem.dtchinhsach=='Thương binh'">
 	<label class="col-lg-2 control-label">Thương binh loại</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.thuongbinhloai">
 	</div>
 </div>
 <!-- row 4 -->
 <h3 style="font-family: sans-serif;margin-bottom: 20px;">Nguồn thu chính của gia đình (tính theo năm):</h3>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Lương thưởng</label>
 	<div class="col-lg-3">
 		<input type="text" class="form-control" ng-model="$parent.updateItem.luong">
 	</div>
 	<label class="col-lg-2 control-label">Nguồn thu khác</label>
 	<div class="col-lg-3">
 		<input type="text"  class="form-control" ng-model="$parent.updateItem.thunhapkhac">
 	</div>
 </div>
 <!-- row 5 -->
 <h3 style="font-family: sans-serif;margin-bottom: 20px;">Tài khoản sử dụng</h3>
 <div class="form-group">
 	<label class="col-lg-2 control-label">Tên tài khoản</label>
 	<div class="col-lg-3">
 		<input class="form-control form-control-sm" type="text" 
 		ng-model="$parent.updateItem.taikhoanName" id="cbUser" ng-keyup="$parent.getCbUser()"
 		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
 		<ul class="dropdown-menu extended notification" ng-if="$parent.updateItem.taikhoanName.length!='0'"
 		style="width: fit-content; min-width: 100% !important;">
 		<li ng-repeat="result in $parent.searchResultUser" >
 			<a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCbUser(result)"
 			 style="font-size: 14px;">
 				{{result.tendangnhap}}-{{result.hoten}}
 			</a>
 		</li>
 	</ul>
 </div>
</div>