<div class="form">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="col-md-3">
        <input class="form-control form-control-sm" type="text" placeholder="Hiển thị: CMND - Họ tên - Số hiệu cán bộ" 
        ng-model="$parent.selectedItem.cmnd" ng-keyup="$parent.getCbForm()" ng-focus="$parent.searchResult=[]"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <ul class="dropdown-menu extended notification" ng-if="$parent.selectedItem.cmnd.length!='0'"
        style="width: fit-content; min-width: 100% !important;">
        <li ng-repeat="result in $parent.searchResult" >
          <a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCb(result)" style="font-size: 14px;">
            <p ng-if="result.trangthailamviec != 'Đang công tác'" class="deleted" title="{{result.trangthailamviec}}">
              {{result.cmnd}} - {{result.hoten}} - {{result.sohieucanbo}}</p>
            <p ng-if="result.trangthailamviec == 'Đang công tác'" title="{{result.trangthailamviec}}">
            {{result.cmnd}} - {{result.hoten}} - {{result.sohieucanbo}}</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control form-control-sm" 
      value="{{$parent.selectedItem.hoten}} | {{$parent.selectedItem.sohieucanbo}}" 
      placeholder="Tên cán bộ | Số hiệu cán bộ" readonly>
    </div>
    <div class="col-md-5">
      <div class="row">
        <button class="btn btn-primary" ng-click="getItem()">Nhập</button>
        <button class="btn btn-primary" ng-click="getItemCur()" 
        style="max-width: 65%; overflow:hidden; text-overflow: ellipsis;" 
        title="{{$parent.$parent.user.hoten}}">{{$parent.$parent.user.hoten}}</button>
        <button style="max-width: 40%;" class="btn btn-primary" ng-click="doReset()">Tạo mới</button>
      </div>
    </div>
  </div>
</div>
</div>