 <!-- row 1 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label required">Giáo dục phổ thông</label>
 	<div class="col-lg-3">
 		<select name="giaoducphothong" class="form-control" ng-model="$parent.updateItem.giaoducphothong">
 			<option value="">-Chọn-</option>
 			<option value="12">Lớp 12</option>
 			<option value="11">Lớp 11</option>
 			<option value="10">Lớp 10</option>
 			<option value="9">Lớp 9</option>
 			<option value="8">Lớp 8</option>
 			<option value="7">Lớp 7</option>
 			<option value="6">Lớp 6</option>
 			<option value="5">Lớp 5</option>
 			<option value="4">Lớp 4</option>
 			<option value="3">Lớp 3</option>
 			<option value="2">Lớp 2</option>
 			<option value="1">Lớp 1</option>
 		</select>
 	</div>
 	<label class="col-lg-2 control-label">Lý luận chính trị</label>
 	<div class="col-lg-3">
 		<select name="" class="form-control" ng-model="$parent.updateItem.lyluanchinhtri">
 			<option value="">-Chọn-</option>
 			<option value="Cao cấp">Cao cấp</option>
 			<option value="Trung cấp">Trung cấp</option>
 			<option value="Sơ cấp và tương đương">Sơ cấp</option>
 		</select>
 	</div>
 </div>
 <!-- row 2 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label required">Trình độ chuyên môn cao nhất (CMCN)
 		</label>
 	<div class="col-lg-3">
 		<select name="hochamcaonhat_ten" class="form-control" ng-model="$parent.updateItem.hochamcaonhat_ten">
 			<option value="">-Chọn-</option>
 			<option value="TS">Tiến Sỹ</option>
 			<option value="NCS">Nghiên cứu sinh</option>
 			<option value="Ths">Thạc sỹ</option>
 			<option value="Cao học">Cao học</option>
 			<option value="Cử nhân">Cử nhân</option>
 			<option value="Kỹ sư">Kỹ sư</option>
 			<option value="Đại học">Đại học</option>
 			<option value="Cao đẳng">Cao đẳng</option>
 			<option value="Trung cấp">Trung cấp</option>
 			<option value="Sơ cấp">Sơ cấp</option>
 			<option value="Chuyên ngành">Chuyên ngành</option>
 			<option value="Phổ thông">Phổ thông</option>
 			<option value="Khác">Khác</option>
 		</select>
 	</div>
 	<label class="col-lg-2 control-label">Quản lý nhà nước</label>
 	<div class="col-lg-3">
 		<select name="" class="form-control" ng-model="$parent.updateItem.quanlynhanuoc">
 			<option value="">-Chọn-</option>
 			<option value="Chuyên viên cao cấp">Chuyên viên cao cấp</option>
 			<option value="Chuyên viên chính trị">Chuyên viên chính trị</option>
 			<option value="Chuyên viên">Chuyên viên</option>
 			<option value="Cán sự">Cán sự</option>
 			<option value="Khác">Khác</option>
 		</select>
 	</div>
 </div>
 <!-- row 3 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label required">Năm (CMCN) </label>
 	<div class="col-lg-3">
 		<input name="hochamcaonhat_nam" type="text" 
 		class="form-control" ng-model="$parent.updateItem.hochamcaonhat_nam">
 	</div>
 	<label class="col-lg-2 control-label">Chức danh khoa học</label>
 	<div class="col-lg-3">
 		<select name="" class="form-control" ng-model="$parent.updateItem.chucdanhkhoahoc">
 			<option value="">-Chọn-</option>
 			<option value="Giáo sư">Giáo sư</option>
 			<option value="Phó Giáo sư">Phó Giáo sư</option>
 		</select>
 	</div>
 </div>
 <!-- row 4 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label">Danh hiệu được phong (DHDP)</label>
 	<div class="col-lg-3">
 		<textarea name="" class="form-control" rows="3" ng-model="$paren.updateItem.danhhieu_ten"></textarea>
 	</div>
 	<label class="col-lg-2 control-label">Ngoại ngữ</label>
 	<div class="col-lg-3">
 		<input type="text" class="form-control" ng-model="$parent.updateItem.ngoaingu_ten">
 	</div>
 </div>
 <!-- row 5 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label">Năm (DHDP)</label>
 	<div class="col-lg-3">
 		<inputtype="text" class="form-control" ng-model="$parent.updateItem.danhhieu_nam">
 	</div>
 	<label class="col-lg-2 control-label">Trình độ Ngoại ngữ (tương ứng)</label>
 	<div class="col-lg-3">
 		<input type="text" class="form-control" ng-model="$parent.updateItem.ngoaingu_trinhdo">
 	</div>
 </div>
 <!-- row 6 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label required">Chuyên ngành </label>
 	<div class="col-lg-3">
 		<input name="hochamcaonhat_chuyennganh" type="text" class="form-control" ng-model="$parent.updateItem.hochamcaonhat_chuyennganh">
 	</div>
 	<label class="col-lg-2 control-label">Chứng chỉ nghiệp vụ Sư phạm</label>
 	<div class="col-lg-3">
 		<input type="text" class="form-control" ng-model="$parent.updateItem.chungchiNVSP">
 	</div>
 </div>
 <!-- row 7 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label">Nơi tốt nghiệp</label>
 	<div class="col-lg-3">
 		<select name="" class="form-control" ng-model="$parent.updateItem.hochamcaonhat_noiTN">
 			<option value="">-Chọn-</option>
 			<option value="Trong nước">Trong nước</option>
 			<option value="Nước ngoài">Nước ngoài</option>
 		</select>
 	</div>
 	<label class="col-lg-2 control-label">Trình độ Tin học</label>
 	<div class="col-lg-3">
 		<select name="" class="form-control" ng-model="$parent.updateItem.tinhoc_trinhdo">
 			<option value="">-Chọn-</option>
 			<option value="A">A</option>
 			<option value="B">B</option>
 			<option value="C">C</option>
 			<option value="IC3">IC3</option>
 			<option value="ICDL">ICDL</option>
 			<option value="Chuyên ngành">Chuyên ngành</option>
 		</select>
 	</div>
 </div>