<div ng-controller="nhaplylichController">
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
        <li>{{$parent.parentName}}</li>
        <li style="cursor: pointer;">{{$parent.childName}}</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <!-- profile-widget -- -->
    <div class="col-lg-12" ng-controller="fileUploadController">
      <div class="profile-widget profile-widget-info">
        <div class="panel-body">
          <div class="col-lg-4 col-sm-4">
           <h2 style="font-family: sans-serif;">NHẬP LÝ LỊCH CÁN BỘ</h2>
         </div>
         <div class="col-lg-6 col-sm-12 follow-info">
          <!-- can chinh  -->
        </div>
        <div class="col-lg-2 col-sm-6 follow-info weather-category">
          <ul  style="height: 150px;background: whitesmoke;">
            <li class="active" style="height: 150px;padding-top: 1px;">
              <a href="javascript:;" ng-click="openFile()">
                <img src="./static/img/no_img2.png" id="img" ng-if="$parent.updateItem.anh==null"
                style="height: 145px;border-radius: inherit; width: 100%;">
                <img src="{{$parent.updateItem.imgUrl}}" 
                id="img" ng-if="$parent.updateItem.anh!=null"
                style="height: 145px;border-radius: inherit; width: 100%;">
              </a>
              <a ng-click="uploadFileJquery()" href="javascript:;" 
              class="btn btn-info btn-sm" style="margin-top: 10px;">Upload</a>
              <input type="file" demo-file-model="myFile" class="form-control" id ="myFileField" style="display: none;">
              <input id="selectImgUrl" type="hidden">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page start ---->
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading tab-bg-info">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab1">
              <i class="icon-home"></i>
              Thông tin cơ bản
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab2">
              <i class="icon-user"></i>
              Trình độ học vấn
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab3">
              <i class="icon-envelope"></i>
              Quê quán & Hộ khẩu
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab4">
              <i class="icon-envelope"></i>
              Chức vụ & Phụ cấp
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#tab5">
              <i class="icon-envelope"></i>
              Khác
            </a>
          </li>
        </ul>
      </header>
      <div class="panel-body">
        <div class="tab-content">
          <div id="tab1" class="tab-pane active">
            <section class="panel">
             <div class="panel-body bio-graph-info">
              <form class="form-horizontal" role="form" style="margin-top: 35px;">
                <ng-include src="'./containers/nhaplylich/nhaplylichTab1.html'"></ng-include>
              </form>
            </div>
          </section>
        </div>
        <!-- tab2 ---->
        <div id="tab2" class="tab-pane">
          <section class="panel">
           <div class="panel-body bio-graph-info">
            <form class="form-horizontal" role="form" style="margin-top: 35px;">
              <ng-include src="'./containers/nhaplylich/nhaplylichTab2.html'"></ng-include>
            </form>
          </div>
        </section>
        <section>
          <div class="row">
          </div>
        </section>
      </div>
      <!-- tab3 ---->
      <div id="tab3" class="tab-pane">
        <section class="panel">
          <div class="panel-body bio-graph-info">
           <form class="form-horizontal" role="form" style="margin-top: 35px;">
            <ng-include src="'./containers/nhaplylich/nhaplylichTab3.html'"></ng-include>
          </form>
        </div>
      </section>
    </div>
    <!-- tab4 ---->
    <div id="tab4" class="tab-pane">
      <section class="panel">
       <div class="panel-body bio-graph-info">
         <form class="form-horizontal" role="form" style="margin-top: 35px;">
          <ng-include src="'./containers/nhaplylich/nhaplylichTab4.html'"></ng-include>
        </form>
      </div>
    </section>
  </div>
  <!-- tab5 ---->
  <div id="tab5" class="tab-pane">
    <section class="panel">
      <div class="panel-body bio-graph-info">
       <form class="form-horizontal" role="form" style="margin-top: 35px;">
        <ng-include src="'./containers/nhaplylich/nhaplylichTab5.html'"></ng-include>
      </form>
    </div>
  </section>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <a href="javascript:;" class="btn btn-info" style="width: 30% !important;" ng-click="doReset()">
        <i class="icon_close_alt2"></i>
        &#160;
      Tạo mới</a>
      <a href="javascript:;" class="btn btn-info" style="width: 30% !important;" ng-click="showSelectPop()">
        <i class="icon_paperclip"></i>
        &#160;
      Nhập lý lịch</a>
      <a href="javascript:;" class="btn btn-info" style="width: 30% !important;" ng-click="doSave()">
        <i class="icon_floppy"></i>
        &#160;
        Lưu lý lịch
      </a>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
</div>
</div>
</section>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog" style="margin-left: 20%;">
  <div class="modal-content" style="width: 150%;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <ng-include src="'./containers/nhaplylich/nhaplylichPopup.html'"></ng-include>
    </div>
    <div class="modal-footer">    
    </div>
  </div>
</div>
</div>
<!-- modal -->

</div>
