 <!-- row 1 -->
 <div class="form-group">
 	<label class="col-lg-2 control-label required">Quê quán</label>
 	<div class="col-lg-3">
 		<select name="quequan_tinh" 
 		class="form-control" ng-model="$parent.updateItem.quequan_tinh"
 		ng-options="t1.provinceid as t1.name for t1 in tinh1Options"
 		ng-change="getHuyenByTinh($parent.updateItem.quequan_tinh,1)">
 	</select>
 </div>
 <div class="col-lg-3">
 	<select class="form-control" ng-model="$parent.updateItem.quequan_huyen"
 	ng-options="q1.districtid as q1.name for q1 in huyen1Options">
 </select>
</div>
<div class="col-lg-3">
	<input type="text" class="form-control" placeholder="Phường/Xã" ng-model="$parent.updateItem.quequan_xa">
</div>
</div>
<!-- row 2 -->
<div class="form-group">
	<label class="col-lg-2 control-label required">Nơi sinh</label>
	<div class="col-lg-3">
		<select name="tinhns" 
		class="form-control" ng-model="$parent.updateItem.tinhns"
		ng-options="t2.provinceid as t2.name for t2 in tinh2Options"
		ng-change="getHuyenByTinh($parent.updateItem.tinhns,2)">
	</select>
</div>
<div class="col-lg-3">
	<select class="form-control" ng-model="$parent.updateItem.huyenns"
	ng-options="q2.districtid as q2.name for q2 in huyen2Options">
</select>
</div>
<div class="col-lg-3">
	<input type="text" class="form-control" placeholder="Phường/Xã" ng-model="$parent.updateItem.xans">
</div>
</div>
<!-- row 3 -->
<div class="form-group">
	<label class="col-lg-2 control-label required">Hộ khẩu thường trú</label>
	<div class="col-lg-9">
		<input name="hokhauthuongtru" type="text" class="form-control" ng-model="$parent.updateItem.hokhauthuongtru">
	</div>
</div>
<!-- row 4 -->
<div class="form-group">
	<label class="col-lg-2 control-label required">Nơi ở hiện tại</label>
	<div class="col-lg-9">
		<input name="noiohiennay" type="text" class="form-control" ng-model="$parent.updateItem.noiohiennay" 
		ng-focus="generateLocation()">
	</div>
</div>