 <!-- Modal -->
 <div class="modal fade" id="myModal_changePass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
   data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
      </div>
      <div class="modal-body" style="background: white;height: auto;">
       <form  ng-submit="changePass()">
        <input type="password" placeholder="Nhập mật khẩu cũ" ng-model="user.matkhaucu" class="form-control" 
        style="margin-top: 10px;">
        <input type="password" placeholder="Nhập mật khẩu mới" ng-model="user.matkhaumoi" class="form-control"
        style="margin-top: 10px;">
        <input type="password" placeholder="Xác nhận mật khẩu mới" ng-model="user.xacnhanmk" class="form-control"
        style="margin-top: 10px;">
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit" ng-click="changePass()">
      Thay đổi</button>
      <button class="btn btn-default" type="button" ng-click="hideChangePass()">Đóng</button>
    </div>
  </div>
</div>
</div>
  <!-- modal -->