 <!-- header start -->
 <header class="header dark-bg" >
  <div class="toggle-nav">
    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom" 
    style="display: block;" ng-click="actionMenu()">
      <i class="icon-task-l"></i>
    </div>
  </div>

  <div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">
      <!-- toDo btn -->
      <!-- <li id="alert_notificatoin_bar" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" ng-click="showToDo()">
         <i class="icon_link_alt" style="color: whitesmoke;opacity: 0.6;"></i>
       </a>
     </li> -->
     <!-- ./ -->
     <!-- alert notification start-->
     <li id="alert_notificatoin_bar" class="dropdown" title="Thông báo" ng-controller="notifyController">
      <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">

        <i class="icon-bell-l"></i>
        <span class="badge bg-important" ng-if="total!='0'">{{total}}</span>
      </a>
      <ul class="dropdown-menu extended notification"  ng-if="total!='0'" style="width: fit-content;">
        <div class="notify-arrow notify-arrow-blue"></div>
        <li>
          <p class="blue">Có {{total}} thông báo</p>
        </li>
        <li ng-repeat="notify in list">
          <a href="javascript:;">
            <span class="label label-success" style="font-size: 12px;word-break: normal;">{{notify.content}}</span>
            <span class="small italic pull-right" style="margin-top: 8px;">{{notify.created}}</span>
          </a>
        </li>
        <a href="javascript:;" class="btn notify-btn" ng-click="delete()"
        style="width: 100%;height: 100%;color: gray;padding: 5%">
      Xóa thông báo</a>
    </ul>
  </li>
  <!-- alert notification end-->
  <!-- user login dropdown start-->
  <li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
      <span class="profile-ava">
        <img alt="" ng-src="{{ava}}"  ng-click="changeAva()" 
             style="width: 38px !important; height: 38px !important;">
        <div class="online" ng-if="user"></div>
        <div class="offline" ng-if="!user"></div>
      </span>
      <span class="username">{{user.hoten}}</span>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu extended logout">
      <div class="log-arrow-up"></div>
      <li class="eborder-top">
        <a href="javascript:;" ng-click="showChangeInfo()"><i class="icon_contacts_alt"></i> Thông tin tài khoản</a>
      </li>
      <li class="eborder-top">
        <a href="javascript:;" ng-click="showChangePass()"><i class="icon_key_alt"></i> Đổi mật khẩu</a>
      </li>
      <li ng-controller="taikhoanController">
        <a href="javascript:;" ng-click="userLogout()"><i class="arrow_carrot-2right_alt2"></i> Đăng xuất</a>
      </li>
    </ul>
  </li>
  <!-- user login dropdown end -->
</ul>
<!-- notificatoin dropdown end-->
</div>
</header>
<!--header end-->
