 <!-- Modal -->
 <div class="modal fade" id="myModal_loading" tabindex="-1" role="dialog" aria-labelledby="myModal_loading"
 aria-hidden="true"
 data-keyboard="false" data-backdrop="static">
 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <div class="demo-element">
        <!--   start bouncing-loader   -->
        <div class="bouncing-loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <!--   end bouncing-loader   -->
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
</div>
  <!-- modal -->