    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse" style="overflow-y: auto; overflow-x: hidden;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="javascript:;" ng-click="reload()"
              style="border-bottom: none !important">
              <i class="icon_house_alt"></i>
              <span style="font-size: small;">Trang chủ</span>
            </a>
          </li>
          <li class="sub-menu" ng-repeat="item in listObj">
            <a href="javascript:;" class="" ng-click="loadContent(item);reloadListObj(item);" 
            style="border-bottom: none !important">
              <i class="icon_documents_alt"></i>
              <span style="font-size: small;">{{item.ten}}</span>
              <span class="menu-arrow arrow_triangle-left" ng-if="!item.isOpen"></span>
              <span class="menu-arrow arrow_triangle-down" ng-if="item.isOpen&&item.child.length>0"></span>
            </a>
            <ul class="sub" ng-if="item.isOpen" >
              <li ng-repeat="child in item.child">
                <a class="" href="javascript:;" ng-click="loadContent(child);"
                 style="font-size: 12px;border-bottom: none !important">
                {{child.ten}}</a></li>
              </ul>
            </li>

            <li class="sub-menu">
            <a class="" href="javascript:;" ng-click="loadReport();"
              style="border-bottom: none !important">
              <i class="icon_chat_alt"></i>
              <span style="font-size: small;">Phản hồi hệ thống</span>
            </a>
          </li>

          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->