 <!-- Modal -->
 <div class="modal fade" id="myModal_toDo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
   data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;TRUY CẬP VƯỢT CẤP</h4>
      </div>
      <div class="modal-body" style="background: white;height: auto;">
       <form  ng-submit="toDo()">
         <input type="text" placeholder="Nhập mã chức năng" ng-model="keyText" class="form-control">
       </form>
     </div>
     <div class="modal-footer">
      <button class="btn btn-info" type="submit" ng-click="toDo()">
      Thực hiện</button>
      <button class="btn btn-default" type="button" ng-click="hideToDo()">Đóng</button>
    </div>
  </div>
</div>
</div>
  <!-- modal -->