 <!-- Modal -->
 <div class="modal fade" id="myModal_changeInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
   data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
      </div>
      <div class="modal-body" style="background: white;height: auto;">
       <form  ng-submit="changeInfo()">
           <input type="text" placeholder="Tên đăng nhập" class="form-control"  style="margin-top: 10px;" 
           ng-model="user.tendangnhap" ng-keyup="isChanged=true" id="userInfoUsername">
           <input type="text" placeholder="Họ tên người dùng" class="form-control" style="margin-top: 10px;"
           ng-model="user.hoten" ng-keyup="isChanged=true" id="userInfoName">
           <input type="email" placeholder="Email người dùng" class="form-control" style="margin-top: 10px;"
           ng-model="user.email" ng-keyup="isChanged=true" id="userInfoMail">
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" type="submit" ng-click="changeInfo()" ng-disabled="isChanged==false">
      Thay đổi</button>
      <button class="btn btn-default" type="button" ng-click="hideChangeInfo()">Đóng</button>
    </div>
  </div>
</div>
</div>
  <!-- modal -->