<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Tên cán bộ:</label>
    </div>
    <div class="col-md-8">
     <input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
   </div>
 </div>
 <!-- row 1 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Cấp chức vụ:</label>
  </div>
  <div class="col-md-8">
   <select class="form-control" ng-model="$parent.updateItem.loaichucvu_id" 
   ng-options="item.id as item.ten for item in $parent.listLevel">
 </select>
</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Tên chức vụ:</label>
  </div>
  <div class="col-md-8">
   <input type="text" class="form-control" ng-model="$parent.updateItem.ten" maxlength="500" placeholder="Tên chức vụ">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Thời điểm:</label>
  </div>
  <div class="col-md-8">
   <input type="date" class="form-control" ng-model="$parent.updateItem.thoidiem">
 </div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Phụ cấp:</label>
  </div>
  <div class="col-md-8">
   <input type="text" class="form-control" ng-model="$parent.updateItem.phucap" placeholder="Phụ cấp">
 </div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Ghi chú:</label>
  </div>
  <div class="col-md-8">
   <input type="text" class="form-control" ng-model="$parent.updateItem.ghichu" placeholder="Ghi chú">
 </div>
</div>


</div>