  <div class="row" ng-controller="qtchucvuController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li  style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">
        <!-- search form -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <div class="col-md-12" style="width: 100%;">
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <input class="form-control form-control-sm" type="text"
                      placeholder="Hiển thị: CMND - Họ tên - Số hiệu cán bộ" 
                      ng-model="selectedUser.cmnd" ng-keyup="getCbForm()" ng-focus="searchResult=[]"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <ul class="dropdown-menu extended notification" ng-if="selectedUser.cmnd.length!='0'"
                      style="width: fit-content; min-width: 100% !important;">
                      <li ng-repeat="result in searchResult" >
                        <a href="javascript:;" class="dropdown-item" ng-click="setValCb(result)" 
                        style="font-size: 14px;">
                        <p ng-if="result.trangthailamviec != 'Đang công tác'" class="deleted" 
                        title="{{result.trangthailamviec}}">
                      {{result.cmnd}} - {{result.hoten}} - {{result.sohieucanbo}}</p>
                      <p ng-if="result.trangthailamviec == 'Đang công tác'" title="{{result.trangthailamviec}}">
                      {{result.cmnd}} - {{result.hoten}} - {{result.sohieucanbo}}</p>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control form-control-sm" 
                  value="{{selectedUser.hoten}} | {{selectedUser.sohieucanbo}}" 
                  placeholder="Tên cán bộ | Số hiệu cán bộ" readonly>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <button class="btn btn-primary" ng-click="getItem()">Nhập</button>
                    <button class="btn btn-primary" ng-click="getItemCur()">{{$parent.user.hoten}}</button>
                    <button class="btn btn-primary" ng-click="reset()">Tạo mới</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./search form -->

    <!-- total -->
    <div class="row">
      <div class="col-md-12">
        <h3 class="countTotal">Quá trình chức vụ : {{total}} bản ghi</h3>
      </div>
    </div>
    <!-- ./ total -->

    <!-- table -->
    <section class="panel panel-default">
      <header class="row panel-heading" style="width: 100%; margin:auto;">
       <div class="col-md-12">
         <select class="col-md-2 form-control form-control-sm itemsByPage"
         ng-model="itemsByPage" 
         ng-options="item.value as item.label for item in pageOption"></select>
         <a href="javascript:;" class="btn btn-danger btn-tool" ng-click="showPopup('delete')" 
         ng-if="isDelete">Xóa</a>
         <a href="javascript:;" class="btn btn-primary btn-tool" ng-click="showPopup('save')"
         ng-if="isCreate">Thêm mới</a>
       </div>
     </header>

     <table id="dataTbl" class="table table-striped table-advance table-hover" 
     st-safe-src="list" st-table="display_records">
     <thead>
       <th style="width: auto;">
        <input type="checkbox" id="checkall" ng-click="checkAll()">
      </th>
      <th>STT</th>
      <th st-sort="ten">Chức vụ</th>
      <th st-sort="loaicvTen">Cấp chức vụ</th>
      <th st-sort="phucap">Phụ cấp</th>
      <th st-sort="thoidiem">Thời điểm</th>
      <th>|&#160;Hành động</th>
    </thead>

    <tbody id="tableBody" ng-if="isShowTbl">
      <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
        <th>
          <input type="checkbox" name="checkbox" value="{{item.id}}" >
        </th>
        <th>{{$index+1}}</th>
        <td style="max-width: 500px;text-overflow: hidden;">{{item.ten}}</td>
        <td>{{item.loaicvTen}}</td>
        <td>{{item.phucap}}</td>
        <td ng-if="item.thoidiem!=null">{{item.thoidiem|date:'dd-MM-yyyy'}}</td>
        <td ng-if="item.thoidiem==null">Hiện tại</td>
        <td>
          <a class="btn btn-info btn-sm" href="javascript:;" title="Sửa" ng-click="showPopupOne('save',item)"
          ng-if="isUpdate">
          <i class=" icon_pencil-edit"></i></a>
          <a class="btn btn-danger btn-sm" href="javascript:;" title="Xóa" ng-click="showPopupOne('delete',item)"
          ng-if="isDelete">
          <i class="icon_trash_alt"></i></a>
        </td>
      </tr>
    </tbody>

    <tfoot style="height: 80px;">
      <tr>
        <td colspan="{{columnCount}}" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
</section>
<!-- ./ table -->

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closePopup()" aria-hidden="true" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <ng-include src="'./containers/qtchucvu/qtchucvuPopup.html'" ng-if="action=='save'"></ng-include>
      <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" ng-click="doDelete()" 
      ng-if="action=='delete'">
    Xóa</button>
    <button class="btn btn-primary" type="button" ng-click="doSave()" 
    ng-if="action=='save'">
  Lưu</button>
  <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
</div>
</div>
</div>
</div>
<!-- modal -->

</div>