  <div class="row" ng-controller="cauhinhcnController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGet()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Bảng cấu hình</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
           </div>
         </header>

         <table id="dataTbl" class="table table-striped table-advance table-hover" 
         st-safe-src="list" st-table="display_records">
         <thead>
          <th>STT</th>
          <th>Tên cấu hình</th>
          <th>Mô tả</th>
          <th>Trạng thái</th>
        </thead>

        <tbody id="tableBody">
          <tr>
            <th>1</th>
            <td>Cho phép tìm kiếm</td>
            <td>Người dùng khác có thế xem lý lịch của bạn</td>
            <td>
              <a href="javascript:;" class="btn btn-sm btn-danger" ng-if="user.can_search==0" 
              ng-click="changeSearch()">Bật cấu hình</a>
              <a href="javascript:;" class="btn btn-sm btn-success" ng-if="user.can_search==1"
              ng-click="changeSearch()">Tắt cấu hình</a>
            </td>
          </tr>
          <tr>
            <th>2</th>
            <td>Cho phép chỉnh sửa</td>
            <td>Người dùng khác có thế sửa lý lịch của bạn</td>
            <td>
              <a href="javascript:;" class="btn btn-sm btn-danger" ng-if="user.can_update==0" 
              ng-click="changeUpdate()">Bật cấu hình</a>
              <a href="javascript:;" class="btn btn-sm btn-success" ng-if="user.can_update==1"
              ng-click="changeUpdate()">Tắt cấu hình</a>
            </td>
          </tr>
        </tbody>

        <tfoot style="height: 80px;">

        </tfoot>

      </table>
    </section>
    <!-- ./ table -->

  </div>

</div>
</div>
</div>


