  <div class="row" ng-controller="canbodvController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">
       <div class="col-md-4">
         <!-- org -->
         <div class="row">
          <div class="col-md-12">
            <h4 class="countTotal">Danh sách đơn vị</h4>
          </div>
        </div>
        <!-- ./ org -->
        <div class="row">
          <div class="col-md-12 portlets">
            <input placeholder="Đơn vị được chọn" class="form-control" readonly="true" ng-model="selectedOrg">
          </div>
        </div>
        <tree-grid tree-data="tree_data" col_defs="col_defs" class="tree" 
        on-click="itemClick(branch)"></tree-grid>
      </div>

      <div class="col-md-8">
       <!-- total -->
       <div class="row">
        <div class="col-md-12">
          <h4 class="countTotal">Số lượng: {{total}} cán bộ</h4>
        </div>
      </div>
      <!-- ./ total -->

      <!-- table -->
      <section class="panel panel-default">
        <header class="row panel-heading" style="width: 100%; margin:auto;">
         <div class="col-md-12">
           <select class="col-md-2 form-control form-control-sm itemsByPage"
           ng-model="itemsByPage" 
           ng-options="item.value as item.label for item in pageOption"></select>
           <form ng-submit="searchTextChange()">
             <input type="text" class="form-control form-control-sm" ng-model="text"
             style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm cán bộ">
           </form>
         </div>
       </header>

       <table id="dataTbl" class="table table-striped table-advance table-hover" 
       st-safe-src="list" st-table="display_records">
       <thead>
        <th>#</th>
        <!-- <th>Số hiệu</th> -->
        <th>Họ tên</th>
        <th>Tài khoản</th>
        <th>Điện thoại</th>
        <th>E-mail</th>
        <th>Trạng thái</th>
      </thead>

      <tbody id="tableBody">
        <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
          <th>{{$index+1}}</th>
          <!-- <th ng-if="item.sohieucanbo.length!='0'">{{item.sohieucanbo}}</th> -->
          <!-- <th ng-if="item.sohieucanbo.length=='0'" style="color: red;">Chưa có số hiệu</th> -->
          <td>{{item.hoten}}</td>
          <td>{{item.tentk}}</td>
          <td style="width: 100px;">{{item.sdt}}</td>
          <td><p style="width: 150px; overflow: hidden; text-overflow: ellipsis;" title="{{item.email}}">
          {{item.email}}</p></td>
          <td style="width: 100px">
            <div class="online" ng-if="item.hoatdong==1" style="margin-left: 20px;" title="Hoạt động"></div>
            <div class="offline" ng-if="item.hoatdong==0" style="margin-left: 20px;" title="Không hoạt động"></div>
          </td>
        </tr>
      </tbody>

      <tfoot style="height: 80px;">
        <tr>
          <td colspan="{{columnCount}}" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage">
            </div>
          </td>
        </tr>
      </tfoot>

    </table>
  </section>
  <!-- ./ table -->
</div>


</div>

</div>
</div>
</div>


