<div class="form">
	<!-- row 0 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<div class="col-md-8">
			<input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
		</div>
	</div>
	<!-- row 1 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Tháng/Năm:</label>
		</div>
		<div class="col-md-8">
			<input type="month" class="form-control" ng-model="$parent.updateItem.thoidiem">
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Ngạch:</label>
		</div>
		<div class="col-md-8">
			<select class="form-control"  ng-model="$parent.updateItem.ngachId"
			ng-options="item.id as item.tenngach for item in $parent.listNgach" ng-change="$parent.getBac()">
		</select>
	</div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Mã nghạch:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.ngachId" 
		ng-options="item.id as item.mangach for item in $parent.listNgach" ng-change="$parent.getBac()">
	</select>
</div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Bậc:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.bacId" 
		ng-options="item.id as item.bac for item in listBac">
	</select>
</div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Hệ số:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" class="form-control" ng-model="$parent.updateItem.bacId" 
		ng-options="item.id as item.heso for item in listBac">
		</select>
	</div>
</div>
<!-- row 6 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Vượt khung:</label>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Vượt khung">
	</div>
</div>
<!-- row 7 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Phần trăm hệ số:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.phantram_hs">
			<option value="0">Không</option>
			<option value="1">Tập sự</option>
			<option value="2">Hưởng nguyên lương</option>
			<option value="3">Hưởng thêm phụ cấp GV</option>
			<option value="4">Hưởng thêm phụ cấp GV-CN</option>
		</select>
	</div>
</div>

</div>