<div class="form">
	<!-- row 0 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<div class="col-md-8">
			<input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
		</div>
	</div>
	<!-- row 1 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Nhận xét đánh giá:</label>
		</div>
		<div class="col-md-8">
			<select class="form-control" ng-model="$parent.updateItem.nhanxetdanhgia">
				<option value="">-Chọn-</option>
				<option value="Hoàn thành xuất sắc nhiệm vụ">Hoàn thành xuất sắc nhiệm vụ</option>
				<option value="Hoàn thành tốt nhiệm vụ">Hoàn thành tốt nhiệm vụ</option>
				<option value="Hoàn thành nhiệm vụ">Hoàn thành nhiệm vụ</option>
				<option value="Không hoàn thành nhiệm vụ">Không hoàn thành nhiệm vụ</option>
				<option value="Không đánh giá">Không đánh giá</option>
			</select>
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 10px;" ng-if="$parent.updateItem.nhanxetdanhgia=='Không đánh giá'">
		<div class="col-md-3">
			<label>Lý do không đánh giá:</label>
		</div>
		<div class="col-md-8">
			<textarea class="form-control" ng-model="$parent.updateItem.lydo"></textarea>
		</div>
	</div>
	<!-- row 3 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Thời điểm đánh giá:</label>
		</div>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model="$parent.updateItem.nam">
		</div>
	</div>

</div>