<div class="form">
	<!-- row 0 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<div class="col-md-8">
			<input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
		</div>
	</div>
	<!-- row 1 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Loại hợp đồng lao động:</label>
		</div>
		<div class="col-md-8">
			<select class="form-control" ng-model="$parent.updateItem.loaihdlaodong">
				<option value="">-Chọn-</option>
				<option value="Hợp đồng vụ việc">Hợp đồng vụ việc</option>
				<option value="Hợp đồng 1 năm">Hợp đồng 1 năm</option>
				<option value="Hợp đồng 2 năm">Hợp đồng 2 năm</option>
				<option value="Hợp đồng 3 năm">Hợp đồng 3 năm</option>
				<option value="HĐ không xác định thời gian">HĐ không xác định thời gian</option>
			</select>
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Ngày hợp đồng lao động:</label>
		</div>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model="$parent.updateItem.ngayhdlaodong">
		</div>
	</div>
	<!-- row 3 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Loại hợp đồng làm việc:</label>
		</div>
		<div class="col-md-8">
			<select class="form-control" ng-model="$parent.updateItem.loaihdlamviec">
				<option value="">-Chọn-</option>
				<option value="Hợp đồng thử việc (1 năm)">Hợp đồng thử việc (1 năm)</option>
				<option value="Hợp đồng 2 năm">Hợp đồng 2 năm</option>
				<option value="Hợp đồng 3 năm">Hợp đồng 3 năm</option>
				<option value="HĐ không xác định thời gian">HĐ không xác định thời gian</option>
			</select>
		</div>
	</div>
	<!-- row 4 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Ngày hợp đồng làm việc:</label>
		</div>
		<div class="col-md-8">
			<input type="date" class="form-control" ng-model="$parent.updateItem.ngayhdlamviec">
		</div>
	</div>

</div>