<div class="form">
  <!-- row 1 -->
 <div class="row" style="margin-top: 20px;">
 <div class="col-md-3">
      <label class="required">Cơ sở đào tạo</label>
    </div>
  <div class="col-md-8">
   <input name="name" type="text" placeholder="Nhập tên cơ sở" class="form-control" ng-model="$parent.updateItem.name">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
 <div class="col-md-3">
      <label  class="required">Ghi chú</label>
    </div>
  <div class="col-md-8">
   <input name="ghichu" type="text" placeholder="Ghi chú" class="form-control" ng-model="$parent.updateItem.ghichu">
 </div>
</div>
</div>