<div class="form">
  <!-- row 1 -->
  <div class="row" style="margin-top: 10px;">
   <div class="col-md-2"></div>
   <div class="col-md-8">
     <input type="text" placeholder="Nhập tên đăng nhập" class="form-control" ng-model="$parent.updateItem.tendangnhap">
   </div>
 </div>
 <!-- row 2 -->
 <div class="row" style="margin-top: 20px;">
   <div class="col-md-2"></div>
   <div class="col-md-8">
     <input type="text" placeholder="Nhập họ tên" class="form-control" ng-model="$parent.updateItem.hoten">
   </div>
 </div>
 <!-- row 3 -->
 <div class="row" style="margin-top: 20px;">
   <div class="col-md-2"></div>
   <div class="col-md-8">
     <input type="email" placeholder="Nhập email" class="form-control" ng-model="$parent.updateItem.email">
   </div>
 </div>
 <!-- row 4 -->
 <div class="row" style="margin-top: 20px;">
   <div class="col-md-2"></div><div class="col-md-8">
     <input type="password" placeholder="Nhập mật khẩu" class="form-control" ng-model="$parent.updateItem.matkhau" >
   </div>
 </div>
 <!-- row 5 -->
 <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
   <div class="col-md-2"></div>
   <div class="col-md-8">
     <select class="form-control" ng-model="$parent.updateItem.khuvuc"  
     ng-options="item.value as item.label for item in $parent.khuvucOptionCus">
   </select>
 </div>
</div>

</div>