  <div class="row" ng-controller="taikhoanController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGet()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">
        <!-- search form -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left search-header">Tìm kiếm tài khoản</div>
            <div class="widget-icons pull-right">
              <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <div class="col-md-10" style="width: 100%;">
                  <!-- row1 -->
                  <div class="row">
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập tên tài khoản" class="form-control" ng-model="searchItem.tendangnhap">
                    </div>
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập họ tên" class="form-control" ng-model="searchItem.hoten">
                    </div>
                    <div class="col-md-4">
                      <select class="form-control" 
                      ng-options="item.value as item.label for item in khuvucOption"
                      ng-model="searchItem.khuvuc">
                    </select>
                  </div>
                </div>
                <!-- ./row1 -->
                <!-- row2 -->
                <div class="row" style="margin-top: 25px;">
                  <div class="col-md-6" style="margin:0 30%;">
                    <button class="btn btn-info" style="width: 30%;" ng-click="doSearch()">
                      <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
                      <button class="btn btn-danger" style="width: 30%;" ng-click="doGet();searchItem={khuvuc:''};">
                      Làm lại</button>
                    </div>
                  </div>
                  <!-- ./row2 -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./search form -->

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Số lượng bản ghi : {{total}} bản ghi</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
             <select class="col-md-2 form-control form-control-sm itemsByPage"
             ng-model="itemsByPage" 
             ng-options="item.value as item.label for item in pageOption"></select>
             <a href="javascript:;" class="btn btn-danger btn-tool" ng-click="showPopup('delete')">Xóa</a>
             <a href="javascript:;" class="btn btn-primary btn-tool" ng-click="showPopup('save')">Thêm mới</a>
             <a href="javascript:;" class="btn btn-success btn-tool" ng-click="showPopup('approve')">Phê duyệt</a>
             <a href="javascript:;" class="btn btn-info btn-tool" ng-click="openRoleAction()" style="width: fit-content">
             Thao tác quyền</a>
           </div>
         </header>

         <table id="dataTbl" class="table table-striped table-advance table-hover" 
         st-safe-src="list" st-table="display_records">
         <thead>
           <th style="width: auto;">
            <input type="checkbox" id="checkall" ng-click="checkAll()">
          </th>
          <th>STT</th>
          <th st-sort="tendangnhap">Tên đăng nhập</th>
          <th st-sort="hoten">Họ tên</th>
          <th st-sort="email">Email</th>
          <th st-sort="khuvuc">Khu vực</th>
          <th>Quyền</th>
          <!-- <th st-sort="trangthai">Tình trạng</th> -->
          <th>|&#160;Hành động</th>
        </thead>

        <tbody id="tableBody">
          <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
            <th>
              <input type="checkbox" name="checkbox" value="{{item.id}}" >
            </th>
            <th>{{$index+1}}</th>
            <td>{{item.tendangnhap}}</td>
            <td>{{item.hoten}}</td>
            <td>{{item.email}}</td>
            <td>
              <p ng-if="item.khuvuc=='0'" style="color: red;">Tất cả</p>
              <p ng-if="item.khuvuc=='1'">Hà Nội</p>
              <p ng-if="item.khuvuc=='2'">Vĩnh Phúc</p>
              <p ng-if="item.khuvuc=='3'">Thái Nguyên</p>
            </td>
            <td>
             <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showBigModal('role',item)">Xem</a>
           </td>
           <td>
            <span ng-if="item.trangthai=='1'" class="badge bg-info">Đã duyệt</span>
            <span ng-if="item.trangthai=='0'" class="badge bg-primary">Chưa duyệt</span>
          </td>
          <td>
            <a class="btn btn-success btn-sm" href="javascript:;" title="Phê duyệt" 
            ng-disabled="item.trangthai=='1'" ng-click="showPopupOne('approve',item)">
            <i class="icon_check_alt2"></i></a>
            <a class="btn btn-info btn-sm" href="javascript:;" title="Sửa" ng-click="showPopupOne('save',item)">
              <i class=" icon_pencil-edit"></i></a>
              <a class="btn btn-danger btn-sm" href="javascript:;" title="Xóa" ng-click="showPopupOne('delete',item)">
                <i class="icon_trash_alt"></i></a>
                <a class="btn btn-warning btn-sm" href="javascript:;" title="Đặt lại mật khẩu" 
                ng-click="showPopupOne('reset',item)">
                <i class="fa fa-repeat"></i></a>  
              </td>
            </tr>
          </tbody>

          <tfoot style="height: 80px;">
            <tr>
              <td colspan="{{columnCount}}" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage">
                </div>
              </td>
            </tr>
          </tfoot>

        </table>
      </section>
      <!-- ./ table -->
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
        </div>
        <div class="modal-body" style="background: white;height: auto;">
         <ng-include src="'containers/taikhoan/taikhoanPopup.html'" ng-if="action=='save'"></ng-include>
         <p ng-if="action=='approve'">Phê duyệt các bản ghi được chọn ?</p>
         <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
         <p ng-if="action=='reset'">Đặt lại mật khẩu mặc định ?</p>
       </div>
       <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="doApprove()" ng-if="action=='approve'">
        Xác nhận</button>
        <button class="btn btn-info" type="button" ng-click="resetPassword()" ng-if="action=='reset'">
        Đặt lại</button>
        <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="action=='delete'">
        Xóa</button>
        <button class="btn btn-primary" type="button" ng-click="doSave()" ng-if="action=='save'">
        Lưu</button>
        <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="myBigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <label>Nhóm</label>
      <textarea class="form-control" disabled rows="8" col="8">
        {{role.grp}}
      </textarea>
      <label>Chức năng</label>
      <textarea class="form-control" disabled rows="8" col="8">
        {{role.obj}}
      </textarea>
      <label>Hành động</label>
      <textarea class="form-control" disabled rows="8" col="8">
        {{role.act}}
      </textarea>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
    </div>
  </div>
</div>
</div>
<!-- modal -->

<!-- modal role -->
<div class="modal fade" id="myRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog" style="margin-left: 20%;">
  <div class="modal-content" style="width: 150%;">
    <div class="modal-header">
      <button type="button" class="close" ng-click="closeModalRole()">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <div class="form">
        <div class="row" style="margin-top: 10px;">
          <div class="col-md-12">
            <div class="col-md-6">
              <input class="form-control form-control-sm" type="text" placeholder="Hiển thị: Mã nhóm - Tên nhóm" 
              ng-model="selectedRole.ma_nhom" ng-keyup="getCbForm()" ng-focus="searchResult=[]"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <ul class="dropdown-menu extended notification" ng-if="selectedRole.ma_nhom.length!='0'"
              style="width: fit-content; min-width: 100% !important;">
              <li ng-repeat="result in searchResult" >
                <a href="javascript:;" class="dropdown-item" ng-click="setValCb(result)" style="font-size: 14px;">
                  {{result.ma_nhom}} - {{result.ten}}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="row">
              <button class="btn btn-success" ng-click="addToGr()">Thêm vào nhóm</button>
              <button class="btn btn-danger" ng-click="delFromGr()">Xóa khỏi nhóm</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 25px;">
         <label style="font-weight: bold;">Thông tin nhóm</label>
         <textarea class="col-md-8 form-control" disabled 
         rows="5" col="8">{{"*Tên nhóm: "+selectedRole.ten+"\n*Mô tả: "+selectedRole.mota}}</textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
</div>
</div>
<!-- modal role -->

</div>


