<div class="form">
  <!-- row 1 -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
      <label class="required">Tên đăng nhập</label>
    </div>
    <div class="col-md-8">
     <input type="text" placeholder="Nhập tên đăng nhập" class="form-control"
      ng-model="$parent.updateItem.tendangnhap" name="tendangnhap">
   </div>
 </div>
 <!-- row 2 -->
 <div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
      <label class="required">Họ tên</label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập họ tên" class="form-control" 
   ng-model="$parent.updateItem.hoten" name="hoten">
 </div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
      <label class="required">E-mail</label>
    </div>
  <div class="col-md-8">
   <input type="email" placeholder="Nhập email" class="form-control" 
   ng-model="$parent.updateItem.email" name="email">
 </div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-md-3">
      <label class="required">Khu vực</label>
    </div>
  <div class="col-md-8">
   <select class="form-control" ng-model="$parent.updateItem.khuvuc"  ng-disabled="$parent.$parent.user.khuvuc!=0"
   ng-options="item.value as item.label for item in $parent.khuvucOption" name="khuvuc">
 </select>
</div>
</div>

</div>