<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
      <label class="required">Cơ sở đào tạo</label>
    </div>
		<div class="col-md-8">
			<select class="form-control" ng-change="getTochucByCoso($parent.updateItem.cosoId)"
			ng-options="item.cosodaotaoid as item.name for item in cosoOptions"
			ng-model="$parent.updateItem.cosoId" name="cosoId">
		</select>
	</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
      <label class="required">Tổ chức trực thuộc</label>
    </div>
	<div class="col-md-8">
		<select class="form-control" name="tochucId" 
		ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
		ng-model="$parent.updateItem.tochucId">
		<option value="$parent.updateItem.tochucId">{{$parent.updateItem.tochucName}}</option>
	</select>
</div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
      <label class="required">Tên Khoa-Phòng ban</label>
    </div>
	<div class="col-md-8">
		<input name="name" type="text" placeholder="Nhập tên khoa-phòng ban" class="form-control"
		 ng-model="$parent.updateItem.name">
	</div>
</div>
</div>