<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Chức năng cha</label>
    </div>
    <div class="col-md-8">
     <select class="form-control" ng-model="$parent.updateItem.chucnangcha"  
     name="chucnangcha" 
     ng-options="item.id as item.ten for item in $parent.parentObOption" ng-change="createPositionOpt()">
   </select>
 </div>
</div>
<!-- row 1 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
      <label class="required">Mã chức năng</label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập mã chức năng" ng-disabled="!$parent.isCreateNew"
   name="ma_chucnang" 
   class="form-control" ng-model="$parent.updateItem.ma_chucnang">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
      <label class="required">Tên chức năng </label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập tên chức năng" class="form-control" 
   name="ten" 
   ng-model="$parent.updateItem.ten">
 </div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
      <label class="required">Vị trí hiển thị</label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập vị trí hiển thị" class="form-control" ng-if="$parent.updateItem.chucnangcha=='0'"
   ng-model="$parent.updateItem.vitri_hienthi" name="vitri_hienthi">
   <select class="form-control" ng-model="$parent.updateItem.vitri_hienthi" ng-if="$parent.updateItem.chucnangcha!='0'"
   ng-options="item.value as item.label for item in $parent.vitriOpt" name="vitri_hienthi"></select>
 </div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-md-3">
      <label class="required">Mô tả</label>
    </div>
  <div class="col-md-8">
   <textarea name="mota" placeholder="Mô tả chức năng" ng-model="$parent.updateItem.mota" class="form-control" 
   style="max-width: 100%;min-width: 100%;"></textarea>
 </div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
      <label>Trạng thái</label>
    </div>
  <div class="col-md-8">
    <select class="form-control" ng-model="$parent.updateItem.trangthai">
      <option value="0">Khóa</option>
      <option value="1">Kích hoạt</option>
    </select>
  </div>
</div>
<!-- row 6 -->
<div class="row" style="margin-top: 20px;margin-bottom: 10px;" ng-if="$parent.updateItem.chucnangcha!='0'">
  <div class="col-md-3">
      <label>Giao diện</label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập giao diện" class="form-control" ng-model="$parent.updateItem.linkFile">
 </div>
</div>

</div>