<div class="row"  ng-controller="thongkeController">
	<div class="col-lg-12">

		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
					<li>{{$parent.parentName}}</li>
					<li style="cursor: pointer;">{{$parent.childName}}</li>
				</ol>
			</div>
		</div>

		<div class="row col-lg-12">
			<div class="col-md-7"></div>
			<div class="col-md-4">
				<button style="margin-top: 10px; margin-right: 10px;
				margin-bottom: 10px; float: right;" class="btn btn-danger" ng-click="doGet()">
				<i class="fa fa-times"></i>&#160;&#160; | Xóa bộ lọc
			</button>
			<button style="margin-top: 10px; margin-right: 10px;
			margin-bottom: 10px; float: right;" class="btn btn-success" ng-click="showPopup()">
			<i class="fa fa-filter"></i>&#160;&#160; | Nhập bộ lọc
		</button>
	</div>
</div>


<div class="row col-lg-12">
	<div class="row col-lg-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading search-header" style="color: #688a7e">
			    Thống kê nhân sự theo trình độ
			    <div class="panel-actions">
			    	 <a class="btn-close" href="" title="Tải xuống" 
			    	    id="btnTrinhdo" download="chart1.jpg"><i class="fa fa-download"></i></a>
			    </div>
			</div>
			<div class="panel-body">
				<canvas id="chartTrinhdo" class="chart chart-doughnut"
				chart-data="dataTrinhdo" chart-labels="labelsTrinhdo"
				chart-options="optionsTrinhdo">
			</canvas> 
		</div>
	</div>
</div>

<div class="row col-lg-6 col-sm-12" style="margin-left: auto;">
	<div class="panel panel-default">
		<div class="panel-heading search-header" style="color: #688a7e">Thống kê nhân sự theo khu vực
			<div class="panel-actions">
			    	 <a class="btn-close" href="" title="Tải xuống"
			    	    id="btnKhuvuc" download="chart2.jpg"><i class="fa fa-download"></i></a>
			    </div>
		</div>
		<div class="panel-body">
			<canvas id="chartKhuvuc" class="chart chart-doughnut"
			chart-data="dataKhuvuc" chart-labels="labelsKhuvuc" chart-options="optionsKhuvuc">
		</canvas> 
	</div>
</div>
</div>

</div>

<div class="row col-lg-12">
	<div class="row col-lg-6 col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading search-header" style="color: #688a7e">Thống kê nhân sự theo giới tính
				<div class="panel-actions">
			    	 <a class="btn-close" href="" title="Tải xuống" 
			    	    id="btnGioitinh" download="chart3.jpg"><i class="fa fa-download"></i></a>
			    </div>
			</div>
			<div class="panel-body">
				<canvas id="chartGioitinh" class="chart chart-doughnut"
				chart-data="dataGioitinh" chart-labels="labelsGioitinh" chart-options="optionsGioitinh">
			</canvas> 
		</div>
	</div>
</div>

<div class="row col-lg-6 col-sm-12" style="margin-left: auto;">
	<div class="panel panel-default">
		<div class="panel-heading search-header" style="color: #688a7e">Thống kê điều chuyển nhân sự
			<div class="panel-actions">
			    	 <a class="btn-close" href="" title="Tải xuống" 
			    	    id="btnDieuchuyen" download="chart4.jpg"><i class="fa fa-download"></i></a>
			    </div>
		</div>
		<div class="panel-body">
			<canvas id="chartDieuchuyen" class="chart chart-bar"
			chart-data="dataDieuchuyen" chart-options="optionsLuanchuyen"
			chart-labels="labelsDieuchuyen" chart-series="seriesDieuchuyen">
		</canvas>
	</div>
</div>
</div>

</div>

</div>

<!--Change Modal -->
<div class="modal fade" id="myChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <ng-include src="'containers/thongke/thongkePopup.html'"></ng-include>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="doSearch()">
      Lọc kết quả</button>
      <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
    </div>
  </div>
</div>
</div>
<!--Change modal -->

</div>