<div class="form">
<!-- row 2 -->
<div id="luanchuyen" class="row" style="margin-top: 10px;">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-top: 5px;">
    <div class="row">
      <p>Lọc theo đơn vị </p>
    </div>
    <div class="row">
      <select class="form-control" ng-change="getTochucByCoso($parent.updateItem.cosodaotao_id)"
      ng-options="item.cosodaotaoid as item.name for item in $parent.cosoOptions"
      ng-model="$parent.updateItem.cosodaotao_id">
    </select>
  </div>

  <div class="row" style="margin-top: 10px;">
    <select class="form-control" ng-change="getKhoaByTochuc($parent.updateItem.tochuctructhuoc_id)"
    ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
    ng-model="$parent.updateItem.tochuctructhuoc_id">
  </select>
</div>

<div class="row" style="margin-top: 10px;">
  <select class="form-control" ng-change="getBomonByKhoa($parent.updateItem.khoaphongban_id)"
  ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
  ng-model="$parent.updateItem.khoaphongban_id">
</select>
</div>

<div class="row" style="margin-top: 10px;">
  <select class="form-control" 
  ng-options="item.bomontoid as item.name for item in bomonOptions"
  ng-model="$parent.updateItem.bomonto_id">
</select>
</div>

</div>

</div>

</div>