<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Ngạch:</label>
		</div>
		<div class="col-md-8">
			<select class="form-control"  ng-model="$parent.updateItem.ngachid"
			ng-options="item.id as item.tenngach for item in $parent.listNgach" ng-change="$parent.getBac()">
		</select>
	</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Mã nghạch:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.ngachid" 
		ng-options="item.id as item.mangach for item in $parent.listNgach" ng-change="$parent.getBac()">
	</select>
</div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Tên bậc:</label>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Tên bậc" ng-model="$parent.updateItem.bac">
	</div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 10px;">
	<div class="col-md-3">
		<label>Hệ số:</label>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Hệ số" ng-model="$parent.updateItem.heso">
	</div>
</div>

</div>