<div class="form">
	<!-- row 0 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<div class="col-md-8">
			<input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
		</div>
	</div>
	<!-- row 1 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Tên tổ chức:</label>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" ng-model="$parent.updateItem.tochuc" placeholder="Tên tổ chức">
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Trụ sở:</label>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" ng-model="$parent.updateItem.truso" 
			maxlength="500" placeholder="Trụ sở">
		</div>
	</div>
	<!-- row 3 -->
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-3">
			<label>Quan hệ:</label>
		</div>
		<div class="col-md-8">
			<input type="text" class="form-control" ng-model="$parent.updateItem.lamgi" placeholder="Quan hệ">
		</div>
	</div>

</div>