<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Tên cán bộ:</label>
    </div>
    <div class="col-md-8">
     <input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
   </div>
 </div>
 <!-- row 1 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Họ tên:</label>
  </div>
  <div class="col-md-8">
   <input type="text" class="form-control" ng-model="$parent.updateItem.hoten" placeholder="Họ tên">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Năm sinh:</label>
  </div>
  <div class="col-md-8">
   <input type="text" class="form-control" ng-model="$parent.updateItem.namsinh" placeholder="Năm sinh">
 </div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Mối quan hệ:</label>
  </div>
  <div class="col-md-8">
   <input type="text" class="form-control" ng-model="$parent.updateItem.quanhe" 
   maxlength="500" placeholder="Mối quan hệ">
 </div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Bản thân/Bên vợ(/chồng):</label>
  </div>
  <div class="col-md-8">
   <select class="form-control" ng-model="$parent.updateItem.banthan_vochong">
     <option value="0">Bản thân</option>
     <option value="1">Bên vợ/chồng</option>
   </select>
 </div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Mô tả:</label>
  </div>
  <div class="col-md-8">
    <textarea class="form-control" ng-model="$parent.updateItem.mota" placeholder="Mô tả">
    </textarea>
 </div>
</div>

</div>