<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Tên cán bộ:</label>
    </div>
    <div class="col-md-8">
     <input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
   </div>
 </div>
 <!-- row 1 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Loại đất:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Loại đất" class="form-control" ng-model="$parent.updateItem.loaidat">
 </div>
</div>

 <!-- row 2 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Hình thức:</label>
  </div>
  <div class="col-md-8">
   <select class="form-control" ng-model="$parent.updateItem.cap_mua_khaipha">
     <option value='0'>Đất được cấp</option>
     <option value='1'>Đất mua</option>
     <option value='2'>Đất khai phá</option>
   </select>
 </div>
</div>

 <!-- row 3 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Diện tích (m2):</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Diện tích (m2)" class="form-control" ng-model="$parent.updateItem.dientich">
 </div>
</div>

</div>