<div class="form">
	<!-- row 0 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<div class="col-md-8">
			<input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
		</div>
	</div>
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Lương (vnd):</label>
		</div>
		<div class="col-md-8">
			<input type="text" placeholder="Lương" ng-model="$parent.updateItem.luong" class="form-control">
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Nguồn khác (vnd):</label>
		</div>
		<div class="col-md-8">
			<input type="text" placeholder="Nguồn khác" ng-model="$parent.updateItem.nguonkhac" class="form-control">
		</div>
	</div>
</div>