  <div class="row" ng-controller="truycapvcController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGetObj()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Số lượng : {{totalObj}} chức năng</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
             <select class="col-md-2 form-control form-control-sm itemsByPage"
             ng-model="itemsByPage" 
             ng-options="item.value as item.label for item in pageOption"></select>
             <form ng-submit="searchTextChange()">
               <input type="text" class="form-control form-control-sm" ng-model="searchText"
               style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm">
             </form>
           </div>
         </header>

         <table id="dataTbl" class="table table-striped table-advance table-hover" 
         st-safe-src="listObj" st-table="display_records">
         <thead>
          <th>STT</th>
          <th st-sort="ma_chucnang">Mã chức năng</th>
          <th st-sort="ten">Tên chức năng</th>
          <th st-sort="trangthai">Trạng thái</th>
          <th st-sort="truycap_vuotcap">Truy cập vượt cấp</th>
          <th>|&#160;Hành động</th>
        </thead>

        <tbody id="tableBody">
          <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
            <th>{{$index+1}}</th>
            <td style="color:#688a7e;" ng-if="item.chucnangcha!='0'"><strong>QLNS@{{item.ma_chucnang}}</strong></td>
            <td style="color:red;" ng-if="item.chucnangcha=='0'"><strong>QLNS@{{item.ma_chucnang}}</strong></td>
            <td>{{item.ten}}</td>
            <td ng-if="item.trangthai=='1'"><span class="badge bg-success">Hoạt động</span></td>
            <td ng-if="item.trangthai=='0'"><span class="badge bg-primary" style="background: red;">Bị Khóa</span></td>
            <td ng-if="item.truycap_vuotcap=='1'"><span class="badge bg-primary" style="background: red;">
            Đã cấp phép</span></td>
            <td ng-if="item.truycap_vuotcap=='0'"><span class="badge bg-info">Không cho phép</span></td>
            <td ng-if="item.truycap_vuotcap=='0'">
              <a href="javascript:;" class="btn btn-sm btn-danger" ng-click="showPopupOne('onTODO',item)">Bật truy cập</a>
            </td>
            <td ng-if="item.truycap_vuotcap=='1'">
              <a href="javascript:;" class="btn btn-sm btn-success" ng-click="showPopupOne('offTODO',item)">Tắt truy cập</a>
            </td>
          </tr>
        </tbody>

        <tfoot style="height: 80px;">
          <tr>
            <td colspan="6" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage">
              </div>
            </td>
          </tr>
        </tfoot>

      </table>
    </section>
    <!-- ./ table -->

  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
      </div>
      <div class="modal-body" style="background: white;height: auto;">
        <p ng-if="action=='onTODO'">Bật truy cập ?</p>
        <p ng-if="action=='offTODO'">Tắt truy cập ?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" type="button" ng-click="changeObjTODO()" ng-if="action=='onTODO'">
        Xác nhận</button>
        <button class="btn btn-info" type="button" ng-click="changeObjTODO()" ng-if="action=='offTODO'">
        Xác nhận</button>
        <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

</div>
</div>
</div>


