<div class="row" ng-controller="cbnghihuuController">

 <div class="col-lg-12"> 
  <div class="row">
   <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
      <li>{{$parent.parentName}}</li>
      <li ng-click="reset()" style="cursor: pointer;">{{$parent.childName}}</li>
    </ol>
  </div>
</div>
</div>

<div class="col-md-12 portlets">
  <!-- search form -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-left search-header">Tìm kiếm cán bộ</div>
      <div class="widget-icons pull-right">
        <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="padd">
        <div class="form quick-post">
          <div class="col-md-10" style="width: 100%;">
           <!-- row1 -->
           <div class="row">
            <div class="col-md-3">
              <input type="text" placeholder="Nhập số hiệu cán bộ" class="form-control"
              ng-model="searchItem.sohieuCb">
            </div>
            <div class="col-md-3">
              <input type="text" placeholder="Nhập tên cán bộ" class="form-control"
              ng-model="searchItem.hotenCb">
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control"
              ng-model="searchItem.ngaybatdau">
            </select>
          </div>
          <div class="col-md-3">
            <input type="date"  class="form-control"
            ng-model="searchItem.ngayketthuc">
          </select>
        </div>
      </div>
      <!-- ./row1 -->

      <!-- row2 -->
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-6" style="margin:0 30%;">
          <button class="btn btn-info" style="width: 30%;" ng-click="doSearch()">
            <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
            <button class="btn btn-danger" style="width: 30%;" ng-click="reset()">
            Làm lại</button>
          </div>
        </div>
        <!-- ./row2 -->
      </div>
    </div>

  </div>
</div>
</div>
<!-- ./search form -->

<!-- total -->
<div class="row">
  <div class="col-md-12">
    <h3 class="countTotal">Danh sách cán bộ nghỉ hưu: {{total}} bản ghi</h3>
  </div>
</div>
<!-- ./ total -->

<!-- table dieuchuyen -->
<section class="panel panel-default">
  <header class="row panel-heading" style="width: 100%; margin:auto;">
   <div class="col-md-12">
     <select class="col-md-2 form-control form-control-sm itemsByPage"
     ng-model="itemsByPage" 
     ng-options="item.value as item.label for item in pageOption"></select>
   </div>
 </header>

 <table class="table table-striped table-advance table-hover" 
 st-safe-src="list" st-table="display_records2">
 <thead>
  <th>STT</th>
  <th st-sort="ngaydieuchuyen">Ngày</th>
  <th st-sort="sohieuCb">Số hiệu cán bộ</th>
  <th st-sort="hotenCb">Họ tên</th>
  <th st-sort="hinhthuc">Hình thức</th>
  <th st-sort="trangthaiduyet">Trạng thái duyệt</th>
</thead>

<tbody>
  <tr ng-repeat="item2 in display_records2" st-select-row="item" st-select-mode="multiple">
    <th>{{$index+1}}</th>
    <td>{{item2.ngaydieuchuyen|date:'dd-MM-yyyy'}}</td>
    <th ng-if="item2.sohieuCb.length!='0'">{{item2.sohieuCb}}</th>
    <th ng-if="item2.sohieuCb.length=='0'" style="color: red;">Chưa có số hiệu</th>
    <td>{{item2.hotenCb}}</td>
    <th style="color: red;">{{item2.hinhthuc}}</th>
    <td>
      <span ng-if="item2.trangthaiduyet=='1'" class="badge bg-info">Đã duyệt</span>
      <span ng-if="item2.trangthaiduyet=='0'" class="badge bg-primary">Chưa duyệt</span>
    </td>
  </tr>
</tbody>

<tfoot style="height: 80px;">
  <tr>
    <td colspan="6" class="text-center">
      <div st-pagination="" st-items-by-page="itemsByPage">
      </div>
    </td>
  </tr>
</tfoot>

</table>
</section>
<!-- ./ table dieuchuyen-->

</div>