
  <div class="row" ng-controller="dskhenthuongTaptheController">

    <div class="col-lg-12">

    <div class="row">
      <div class="col-md-12 portlets">
        <!-- search form -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left search-header">Tìm kiếm khen thưởng tập thể</div>
            <div class="widget-icons pull-right">
              <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <div class="col-md-10" style="width: 100%;">
                  <!-- row1 -->
                  <div class="row">
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập tên tập thể" class="form-control"
                      ng-model="searchItem.tentapthe">
                    </div>
                    <div class="col-md-8">
                      <input type="text" placeholder="Nhập khen thưởng" class="form-control"
                      ng-model="searchItem.khenthuong">
                    </select>
                  </div>
                </div>
                <!-- ./row1 -->
                <!-- row2 -->
                <div class="row" style="margin-top: 25px;">
                  <div class="col-md-6" style="margin:0 30%;">
                    <button class="btn btn-info" style="width: 30%;" ng-click="doSearch()">
                      <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
                      <button class="btn btn-danger" style="width: 30%;" ng-click="doGet();searchItem={}">
                      Làm lại</button>
                    </div>
                  </div>
                  <!-- ./row2 -->
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- ./search form -->

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Danh sách khen thưởng tập thể : {{total}} bản ghi</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
             <select class="col-md-2 form-control form-control-sm itemsByPage"
             ng-model="itemsByPage" 
             ng-options="item.value as item.label for item in pageOption"></select>
             <a href="javascript:;" class="btn btn-danger btn-tool" ng-click="showPopup('delete')" >Xóa</a>
             <a href="javascript:;" class="btn btn-primary btn-tool" ng-click="showPopup('save')">Thêm mới</a>
           </div>
         </header>

         <table id="dataTbl1" class="table table-striped table-advance table-hover" 
         st-safe-src="list" st-table="display_records">
         <thead>
           <th style="width: auto;">
            <input type="checkbox" id="checkall1" ng-click="checkAll()">
          </th>
          <th>STT</th>
          <th st-sort="hotenCb">Tên tập thể</th>
          <th st-sort="khenthuong">Khen thưởng</th>
          <th st-sort="loaikhenthuong">Loại khen thưởng</th>
          <th st-sort="cap">Cấp</th>
          <th>Thời gian</th>
          <th>Nội dung</th>
          <th>|&#160;Hành động</th>
        </thead>

        <tbody>
          <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
            <th>
              <input type="checkbox" name="checkbox" value="{{item.id}}" >
            </th>
            <th>{{$index+1}}</th>
            <td>{{item.tentapthe}}</td>
            <td>{{item.khenthuong}}</td>
            <td>{{item.loaikhenthuong}}</td>
            <td>{{item.cap}}</td>
            <td>{{item.tunam}}-{{item.dennam}}</td>
            <td>
              <a class="btn btn-primary btn-sm" href="javascript:;" title="Xem" ng-click="showPopupOne('show',item)">
              Xem</a>
            </td>
            <td>
              <a class="btn btn-info btn-sm" href="javascript:;" title="Sửa" ng-click="showPopupOne('save',item)">
                <i class=" icon_pencil-edit"></i></a>
                <a class="btn btn-danger btn-sm" href="javascript:;" title="Xóa" ng-click="showPopupOne('delete',item)">
                  <i class="icon_trash_alt"></i></a>
                </td>
              </tr>
            </tbody>

            <tfoot style="height: 80px;">
              <tr>
                <td colspan="{{columnCount}}" class="text-center">
                  <div st-pagination="" st-items-by-page="itemsByPage">
                  </div>
                </td>
              </tr>
            </tfoot>

          </table>
        </section>
        <!-- ./ table -->

        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
            </div>
            <div class="modal-body" style="background: white;height: auto;">
              <ng-include src="'containers/dskhenthuong/dskhenthuongTapthePopup.html'" ng-if="action=='save'"></ng-include>
              <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
              <textarea class="form-control" ng-if="action=='show'" disabled style="min-height: 200px;">
                {{selectedItem.noidung}}
              </textarea>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" type="button" ng-click="doDelete();" 
              ng-if="action=='delete'">
            Xóa</button>
            <button class="btn btn-primary" type="button" ng-click="doSave()" 
            ng-if="action=='save'">
          Lưu</button>
          <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>