<div class="form">
	<div  class="row" ng-if="$parent.isCreateNew">
		<div class="col-md-2"></div>
		<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
			<div class="row">
				<p>Tập thể</p>
			</div>
			<div class="row">
				<select class="form-control" ng-change="getTochucByCoso($parent.updateItem.cosodaotao_id)"
				ng-options="item.cosodaotaoid as item.name for item in $parent.cosoOptions"
				ng-model="$parent.updateItem.cosodaotao_id">
			</select>
		</div>

		<div class="row" style="margin-top: 10px;">
			<select class="form-control" ng-change="getKhoaByTochuc($parent.updateItem.tochuctructhuoc_id)"
			ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
			ng-model="$parent.updateItem.tochuctructhuoc_id">
		</select>
	</div>

	<div class="row" style="margin-top: 10px;">
		<select class="form-control" ng-change="getBomonByKhoa($parent.updateItem.khoaphongban_id)"
		ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
		ng-model="$parent.updateItem.khoaphongban_id">
	</select>
</div>

<div class="row" style="margin-top: 10px;">
	<select class="form-control" 
	ng-options="item.bomontoid as item.name for item in bomonOptions"
	ng-model="$parent.updateItem.bomonto_id">
</select>
</div>

</div>
</div>

<div ng-if="!$parent.isCreateNew">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
			<div class="row">
				<p>Tập thể</p>
			</div>
			<div class="row" >
				<input type="text" disabled value="{{$parent.updateItem.tentapthe}}" class="form-control">
			</div>
		</div>
	</div>
</div>

<div  class="row" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
		<div class="row">
			<p>Khen thưởng</p>
		</div>
		<div class="row">
			<select class="form-control" ng-model="$parent.updateItem.khenthuong">
				<option value="">-Chọn-</option>
				<option value="Tập thể lao động tiên tiến">Tập thể lao động tiên tiến</option>
				<option value="Tập thể lao động xuất sắc">Tập thể lao động xuất sắc</option>
			</select>
		</div>
	</div>
</div>

<div  class="row" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
		<div class="row">
			<p>Loại khen thưởng</p>
		</div>
		<div class="row">
			<select class="form-control" ng-model="$parent.updateItem.loaikhenthuong" 
			ng-options="item.value as item.label for item in $parent.loaiOptions"></select>
		</div>
		<div class="row" style="margin-top: 10px;" ng-if="$parent.updateItem.loaikhenthuong=='Khác'">
			<input type="text" class="form-control" placeholder="Nhập loại khen thưởng khác" 
			ng-model="$parent.updateItem.loaikhenthuongkhac">
		</div>

	</div>
</div>

<div  class="row" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
		<div class="row">
			<p>Cấp</p>
		</div>
		<div class="row">
			<select class="form-control" ng-model="$parent.updateItem.cap" 
			ng-options="item.value as item.label for item in $parent.capOptions"></select>
		</div>
		<div class="row" style="margin-top: 10px;" ng-if="$parent.updateItem.cap=='Khác'">
			<input type="text" class="form-control" placeholder="Nhập cấp khác" 
			ng-model="$parent.updateItem.capkhac">
		</div>

	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
		<div class="row">
			<p>Bắt đầu từ</p>
		</div>
		<div class="row">
			<input type="text" class="form-control" placeholder="Nhập năm bắt đầu" ng-model="$parent.updateItem.tunam">
		</div>

	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
		<div class="row">
			<p>Kết thúc</p>
		</div>
		<div class="row">
			<input type="text" class="form-control" placeholder="Nhập năm kết thúc" ng-model="$parent.updateItem.dennam">
		</div>

	</div>
</div>

<div class="row" style="margin-top: 20px;">
	<div class="col-md-2"></div>
	<div class="col-md-10" style="margin-top: 5px; margin-left: 10%;">
		<div class="row">
			<p>Nội dung</p>
		</div>
		<div class="row" >
			<textarea class="form-control" ng-model="$parent.updateItem.noidung" placeholder="Nội dung khen thưởng"></textarea>
		</div>

	</div>
</div>

</div>