<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<!-- add -->
		<div class="col-md-8" ng-if="$parent.isCreateNew">
			<input class="form-control form-control-sm" type="text"
			placeholder="Hiển thị: CMND - Họ tên - Số hiệu cán bộ"
			ng-model="$parent.selectedUser.hoten" ng-keyup="$parent.getCbForm()"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<ul class="dropdown-menu extended notification" ng-if="$parent.selectedUser.hoten.length!='0'"
			style="width: fit-content; min-width: 100% !important;">
			<li ng-repeat="result in $parent.searchResult" >
				<a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCb(result)" style="font-size: 14px;">
					{{result.cmnd}} - {{result.hoten}} - {{result.sohieucanbo}}
				</a>
			</li>
		</ul>
	</div>
	<!-- edit -->
	<div class="col-md-8" ng-if="!$parent.isCreateNew">
			<input type="text" disabled class="form-control" value="{{$parent.updateItem.hotenCb}}">
	</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Khen thưởng:</label>
	</div>
	<div class="col-md-8">
		<input type="text" placeholder="Khen thưởng" class="form-control" ng-model="$parent.updateItem.khenthuong">
	</div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Loại khen thưởng:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.loaikhenthuong" 
		ng-options="item.value as item.label for item in $parent.loaiOptions"></select>
	</div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.loaikhenthuong=='Khác'">
	<div class="col-md-3">
		<label>Nhập loại khen thưởng khác:</label>
	</div>
	<div class="col-md-8">
		<input type="text" placeholder="Nhập loại khen thưởng khác" ng-model="$parent.updateItem.loaikhenthuongkhac"
		class="form-control">
	</div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Cấp:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.cap" 
		ng-options="item.value as item.label for item in $parent.capOptions"></select>
	</div>
</div>
<!-- row 6 -->
<div class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.cap=='Khác'">
	<div class="col-md-3">
		<label>Nhập cấp khác:</label>
	</div>
	<div class="col-md-8">
		<input type="text" placeholder="Nhập cấp khác" ng-model="$parent.updateItem.capkhac"
		class="form-control">
	</div>
</div>
<!-- row 7 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Bắt đầu từ:</label>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Nhập năm bắt đầu" ng-model="$parent.updateItem.tunam">
	</div>
</div>
<!-- row 8 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Kết thúc:</label>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Nhập năm kết thúc" ng-model="$parent.updateItem.dennam">
	</div>
</div>
<!-- row 9 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Nội dung:</label>
	</div>
	<div class="col-md-8">
		<textarea class="form-control" ng-model="$parent.updateItem.noidung" placeholder="Nội dung khen thưởng">
		</textarea>
	</div>
</div>
</div>