<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Tên cán bộ:</label>
		</div>
		<!-- add -->
		<div class="col-md-8" ng-if="$parent.isCreateNew">
			<input class="form-control form-control-sm" type="text"
			placeholder="Hiển thị: CMND - Họ tên - Số hiệu cán bộ"
			ng-model="$parent.selectedUser.hoten" ng-keyup="$parent.getCbForm()"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<ul class="dropdown-menu extended notification" ng-if="$parent.selectedUser.hoten.length!='0'"
			style="width: fit-content; min-width: 100% !important;">
			<li ng-repeat="result in $parent.searchResult" >
				<a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCb(result)" style="font-size: 14px;">
					{{result.cmnd}} - {{result.hoten}} - {{result.sohieucanbo}}
				</a>
			</li>
		</ul>
	</div>
	<!-- edit -->
	<div class="col-md-8" ng-if="!$parent.isCreateNew">
		<input type="text" disabled class="form-control" value="{{$parent.updateItem.hotenCb}}">
	</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Kỷ luật:</label>
	</div>
	<div class="col-md-8">
		<input type="text" placeholder="Lý do kỷ luật" class="form-control" ng-model="$parent.updateItem.lydo">
	</div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Cấp:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.capquyetdinh" 
		ng-options="item.value as item.label for item in $parent.capOptions"></select>
	</div>
</div>
<!-- row 6 -->
<div class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.capquyetdinh=='Khác'">
	<div class="col-md-3">
		<label>Nhập cấp khác:</label>
	</div>
	<div class="col-md-8">
		<input type="text" placeholder="Nhập cấp khác" ng-model="$parent.updateItem.capquyetdinhkhac"
		class="form-control">
	</div>
</div>
<!-- row 7 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Hình thức:</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-model="$parent.updateItem.hinhthuc">
			<option value="">-Chọn-</option>
			<option value="Khiển trách">Khiển trách</option>
			<option value="Cảnh cáo">Cảnh cáo</option>
			<option value="Hạ lương">Hạ lương</option>
			<option value="Giáng chức">Giáng chức</option>
			<option value="Cách chức">Cách chức</option>
			<option value="Buộc thôi việc">Buộc thôi việc</option>
		</select>
	</div>
</div>
<!-- row 8 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Năm:</label>
	</div>
	<div class="col-md-8">
		<input type="text" placeholder="Năm" class="form-control" ng-model="$parent.updateItem.nam">
	</div>
</div>
</div>