<div ng-controller="phanhoiController">
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
				<li>Phản hồi hệ thống</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 portlets">
			<!-- search form -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="pull-left search-header">Gửi phản hồi hệ thống</div>
					<div class="widget-icons pull-right">
						<a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<div class="padd">
						<div class="form quick-post">
							<div class="col-md-10" style="width: 100%;">
								<!-- row1 -->
								<div class="row">
									<div class="col-md-8">
										<input type="text" placeholder="Tiêu đề" class="form-control" 
										ng-model="updateItem.tieude">
									</div>
									<div class="col-md-4">
										<select class="form-control" 
										ng-model="updateItem.khuvuc">
										<option value="" selected>-Chọn khu vực-</option>
										<option value="1">Hà Nội</option>
										<option value="2">Vĩnh Phúc</option>
										<option value="3">Thái Nguyên</option>
									</select>
								</div>
							</div>
							<!-- ./row1 -->
							<!-- row2 -->
							<div class="row"  style="margin-top: 25px;">
								<div class="col-md-12">
									<textarea class="form-control" rows="10" 
									placeholder="Nội dung phản hồi" ng-model="updateItem.noidung"></textarea>
								</div>
							</div>
							<!-- /row2 -->
							<!-- row3 -->
							<div class="row" style="margin-top: 25px;">
								<div class="col-md-6" style="margin:0 30%;">
									<button class="btn btn-primary" style="width: 30%;" ng-click="send()">
										<i class="icon_tags_alt"></i>&#160;&#160;Gửi phản hồi</button>
										<button class="btn btn-info" style="width: 30%;" ng-click="reset()">
											<i class="icon_close_alt2"></i>&#160;&#160;
										Tạo mới</button>
									</div>
								</div>
								<!-- ./row3 -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./search form -->
		</div>
	</div>
</div>