:root{
  --primary: #007bff;
  --success: #35c757;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #34aadc;
  --default:#57889c;
  --green: #31bfa9;
  --green-light: #31c0be;
}

.offline {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}

.online {
  height: 8px;
  width: 8px;
  background-color: #1ee21e;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
}

.tree {
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

ul.notification li a{
 text-overflow: ellipsis;
 overflow: hidden;
} 

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.form .required{
  font-size: 14px;
  color: #797979;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.deleted{
  text-decoration: line-through;
}

.required:after {
  content:" *";
  color: red;
}

.dropdown-menu.extended li p{
 background-color: transparent !important;
 padding: 0px !important;
}
.table tbody > tr > td, .table tbody > tr > th{
  border-top: none;
}

#sidebar{
  width: 200px !important;
}
#main-content{
  margin-left: 200px;
}
.notify-btn:hover{
 font-size: 15px;
}
/* btn boostrap custom*/
/*primary*/
.btn-primary {
  color: var(--primary) !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: var(--primary) !important;
}
.btn-primary:hover{
  color: #fff !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
/*info*/
.btn-info {
  color: var(--info) !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: var(--info) !important;
}
.btn-info:hover{
  color: #fff !important;
  background-color:  var(--info) !important;
  border-color: var(--info) !important;
}
/*success*/
.btn-success {
  color: var(--success) !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color:var(--success) !important;
}
.btn-success:hover{
  color: #fff !important;
  background-color:  var(--success) !important;
  border-color: var(--success) !important;
}
/*danger*/
.btn-danger {
  color: var(--danger) !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: var(--danger) !important;
}
.btn-danger:hover{
  color: #fff !important;
  background-color:  var(--danger) !important;
  border-color: var(--danger) !important;
}
/*warning*/
.btn-warning {
  color: var(--warning) !important;
  background-color: transparent !important;
  background-image: none !important;
  border-color: var(--warning) !important;
}
.btn-warning:hover{
  color: #fff !important;
  background-color:  var(--warning) !important;
  border-color: var(--warning) !important;
}
.btn[disabled]{
  background: whitesmoke;
  opacity: 0.4;
}
.btn-tool{
  overflow: hidden;
  text-overflow: ellipsis;
}
.in-error{
  border-color: #ff2d55;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
     margin-left: 0; 
     border-bottom-left-radius: 50px  !important; 
     border-top-left-radius: 50px  !important; 
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, 
.pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: var(--green-light) !important;
    border-color: var(--green-light) !important;
    border-radius: 50px;
    margin: 0 3px !important;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
     border-bottom-right-radius: 50px  !important; 
     border-top-right-radius: 50px !important; 
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 0 3px !important;
}

