.bouncing-loader {
	display: flex;
	justify-content: center;
}
.bouncing-loader > div {
	width: 1rem;
	height: 1rem;
	margin: 3rem 0.2rem;
	background: #8385aa;
	border-radius: 50%;
	animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
	animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
	animation-delay: 0.4s;
}
.bouncing-loader > div:nth-child(4) {
	animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(5) {
	animation-delay: 0.4s;
}
@keyframes bouncing-loader {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0.1;
		transform: translateY(-1rem);
	}
}
.donut-spinner {
	display: inline-block;
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #7983ff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: donut-spin 1.2s linear infinite;
}
@keyframes donut-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.lds-wrapper {
	text-align: center;
	margin: 0 auto;
}
.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}
.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: #00d252;
	opacity: 0.2;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}
.container {
	display: flex;
}
.container > div {
	border: 1px solid lightgray;
	margin-right: 15px;
	flex: 0 0 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
