<div>
  <div class="row">
    <div class="col-lg-12">
      <ol class="breadcrumb">
        <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
        <li>{{$parent.parentName}}</li>
        <li style="cursor: pointer;">{{$parent.childName}}</li>
      </ol>
    </div>
  </div>
  <div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10 port-left">
     <!-- print form -->
     <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left search-header">Sơ yếu lý lịch cán bộ: {{$parent.updateItem.hoten}}</div>
        <div class="widget-icons pull-right">
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="padd">
          <div class="form quick-post">
            <div class="col-md-10" style="width: 100%;">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <img src="./static/img/no_img2.png" id="img1" ng-if="$parent.updateItem.anh==null"
                    style="height: 150px;border: solid;">
                    <img id="img2" ng-if="$parent.updateItem.anh!=null" 
                    src="{{$parent.updateItem.imgUrl}}"
                    style="height: 150px;border: solid;">
                    <div class="col-md-1"></div>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6" style="height: 145px;text-align: center;margin-top: 5%;">
                 <h2 style="font-family: sans-serif;">SƠ YẾU LÝ LỊCH CÁN BỘ</h2>
               </div>
             </div>
             <br>
             <!--doc  -->
             <div style="width: 100%;" id="printThis">
               <h3 style="font-family: sans-serif !important;">I. Thông tin cá nhân</h3>
               <div class="row printer-row">
                <label>1. Số hiệu cán bộ: {{$parent.updateItem.sohieucanbo}}  </label>
              </div>
              <div class="row printer-row">
                <label>2. Họ tên cán bộ: {{$parent.updateItem.hoten}}  </label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <label>Tên gọi khác: {{$parent.updateItem.tengoikhac}}  </label>
              </div>
              <div class="row printer-row">
                <label>3. Số CMND/CCCD: {{$parent.updateItem.cmnd}}  </label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <label>Ngày cấp: {{$parent.updateItem.ngaycapcmt|date:'dd-MM-yyyy'}}  </label>
                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <label>Nơi cấp: {{$parent.updateItem.noicapcmt}}  </label>
              </div>
              <div class="row printer-row">
                <label ng-if="$parent.updateItem.gioitinh=='1'">4. Giới tính: Nam  </label>
                <label ng-if="$parent.updateItem.gioitinh=='0'">4. Giới tính: Nữ  </label>
              </div>
              <div class="row printer-row">
                <label>5. Ngày sinh: {{$parent.updateItem.ngaysinh|date:'dd-MM-yyyy'}}  </label>
              </div>
              <div class="row printer-row">
                <label>6. Nơi sinh: {{$parent.updateItem.noisinh}}  </label>
              </div>
              <div class="row printer-row">
                <label>7. Quê quán:
                  {{$parent.updateItem.quequan_xa}}-{{$parent.updateItem.tenHuyen}}-{{$parent.updateItem.tenTinh}}
                </label>
              </div>
              <div class="row printer-row">
               <label>8. Hộ khẩu thường trú: {{$parent.updateItem.hokhauthuongtru}}  </label>
             </div>
             <div class="row printer-row">
               <label>9. Nơi ở hiện tại: {{$parent.updateItem.noiohiennay}}  </label>
             </div>
             <div class="row printer-row">
               <label>10. Điện thoại: {{$parent.updateItem.dienthoai}}  </label>
             </div>
             <div class="row printer-row">
              <label>11. Dân tộc: {{$parent.updateItem.dantoc}}  </label>
              &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
              <label>Tôn giáo: {{$parent.updateItem.tongiao}}  </label>
            </div>
            <div class="row printer-row">
              <label>12. Xuất thân gia đình: {{$parent.updateItem.xuatthan}}  </label>
            </div>
            <div class="row printer-row">
              <label>13. Nghề trước tuyển dụng: {{$parent.updateItem.nghetruoctuyendung}}  </label>
            </div>
            <div class="row printer-row">
              <label>14. Cơ quan tuyển dụng: {{$parent.updateItem.coquantuyendung}}  </label>
              &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
              <label>Ngày vào cơ quan: {{$parent.updateItem.coquanhientai_ngayvao|date:'dd-MM-yyyy'}}
              </label>
            </div>
            <div class="row printer-row">
              <label>15. Tình trạng sức khỏe: {{$parent.updateItem.tinhtrangsuckhoe}}  </label>
            </div>
            <div class="row printer-row">
              <label>16. Nhóm máu: {{$parent.updateItem.nhommau}}  </label>
              &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
              <label>Cân nặng(kg): {{$parent.updateItem.cannang}}  </label>
              &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
              <label>Chiều cao(m): {{$parent.updateItem.chieucao}}  </label>
            </div>
            <div class="row printer-row">
              <label>17. Ngày vào Đảng: 
              {{$parent.updateItem.dangcongsan_ngayvao|date:'dd-MM-yyyy'}}  </label>
              &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
              <label>Ngày chính thức: {{$parent.updateItem.dangcongsan_ngaychinhthuc|date:'dd-MM-yyyy'}}  </label>
            </div>

            <h3 style="font-family: sans-serif !important;">II. Trình độ học vấn</h3>
            <div class="row printer-row">
              <label>1. Giáo dục phổ thông: {{$parent.updateItem.giaoducphothong}} </label>
            </div>
            <div class="row printer-row">
             <label>2. Trình độ chuyên môn cao nhất:  {{$parent.updateItem.hochamcaonhat_ten}} </label>
             &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
             <label>Năm: {{$parent.updateItem.hochamcaonhat_nam}}  </label>
           </div>
           <div class="row printer-row">
             <label>3. Chuyên nghành:  {{$parent.updateItem.hochamcaonhat_chuyennganh}} </label>
             &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
             <label>Nơi tốt nghiệp: {{$parent.updateItem.hochamcaonhat_noiTN}}  </label>
           </div>
           <div class="row printer-row">
             <label>4. Chức danh khoa học:  {{$parent.updateItem.chucdanhkhoahoc}} </label>
           </div>
           <div class="row printer-row">
             <label>5. Danh hiệu được phong:  {{$parent.updateItem.danhhieu_ten}} </label>
             &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
             <label>Năm: {{$parent.updateItem.danhhieu_nam}}  </label>
           </div>
           <div class="row printer-row">
             <label>6. Ngoại ngữ:  {{$parent.updateItem.ngoaingu_ten}} </label>
             &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
             <label>Trình độ: {{$parent.updateItem.ngoaingu_trinhdo}}  </label>
           </div>
           <div class="row printer-row">
            <label>7. Chứng chỉ NVSP:  {{$parent.updateItem.chungchiNVSP}} </label>
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <label>Trình độ Tin học: {{$parent.updateItem.tinhoc_trinhdo}}  </label>
          </div>
          <div class="row printer-row">
            <label>8. Lý luận chính trị:  {{$parent.updateItem.lyluanchinhtri}} </label>
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <label>Quản lý nhà nước: {{$parent.updateItem.quanlynhanuoc}}  </label>
          </div>

          <h3 style="font-family: sans-serif !important;">III. Đơn vị công tác</h3>
          <div class="row printer-row">
            <label>1. Đơn vị:  {{$parent.updateItem.bomonName}}, {{$parent.updateItem.khoaName}}, {{$parent.updateItem.cosoName}}</label>
          </div>
          <div class="row printer-row">
            <label>2. Chức vụ:  {{$parent.updateItem.chucvu}} </label>
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <label>Ngày bổ nhiệm: {{$parent.updateItem.chucvudate|date:'dd-MM-yyyy'}}  </label>
          </div>
          <div class="row printer-row">
            <label>3. Cấp ủy hiện tại:  {{$parent.updateItem.capuyhientai}} </label>
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <label>Cấp ủy kiêm: {{$parent.updateItem.capuykiem}}  </label>
          </div>
          <div class="row printer-row">
            <label>4. Công tác chính:  {{$parent.updateItem.congtacdanglam}} </label>
          </div>
          <div class="row printer-row">
            <label>5. Sở trường công tác:  {{$parent.updateItem.sotruongcongtac}} </label>
          </div>

        </div>
        <!-- -- -->
      </div>
    </div>
  </div>
</div>
</div>
<!-- ./print form -->
<div class="row">
  <div class="col-md-3"></div>
  <!-- <div class="col-md-2"> -->
    <!-- <select class="form-control" id="selectedType">
      <option value="" selected>-Định dạng-</option>
      <option value="PDF">PDF</option>
      <option value="DOC">DOC</option>
    </select> -->
  <!-- </div> -->
  <div class="col-md-2">
    <!-- <a class="btn btn-primary" style="width: 100%;" ng-click="$parent.download()">
      <i class="icon_printer"></i>&#160;&#160;&#160;
    Tải xuống</a> -->
  </div>
  <div class="col-md-2"><a class="btn btn-danger" style="width: 100%;" ng-click="$parent.reload()">
    <i class="arrow_left"></i>&#160;&#160;
  Thoát</a></div>
</div>
</div>
</div>
</div>