  <div  ng-controller="dscanboController">
    <ng-include src="'containers/dscanbo/detailPrintView.html'" ng-if="isPrt==true"></ng-include>
    <ng-include src="'containers/dscanbo/procView.html'" ng-if="isShowProc==true"></ng-include>
    <ng-include src="'containers/dscanbo/relationshipView.html'" ng-if="isShowRel==true"></ng-include>
    <ng-include src="'containers/dscanbo/luongView.html'" ng-if="isShowLuong==true"></ng-include>
    <ng-include src="'containers/dscanbo/nhapExcelView.html'" ng-if="isShowImport==true"></ng-include>
    <div class="row" ng-if="isPrt==false&&isShowProc==false&&isShowRel==false&&isShowLuong==false&&isShowImport==false">
      <div class="col-lg-12">

        <div class="row">
         <div class="col-lg-12">
          <ol class="breadcrumb">
            <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
            <li>{{$parent.parentName}}</li>
            <li ng-click="doGet()" style="cursor: pointer;">{{$parent.childName}}</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 portlets">
          <!-- search form -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-left search-header">Tìm kiếm cán bộ</div>
              <div class="widget-icons pull-right">
                <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="padd">
                <div class="form quick-post">
                  <div class="col-md-10" style="width: 100%;">
                    <!-- row1 -->
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text" placeholder="Nhập tên cán bộ" class="form-control"
                        ng-model="searchItem.hoten">
                      </div>
                      <div class="col-md-4">
                        <input type="text" placeholder="Nhập số hiệu cán bộ" class="form-control"
                        ng-model="searchItem.sohieucanbo">
                      </div>
                      <div class="col-md-4">
                        <select class="form-control" 
                        ng-options="item.value as item.label for item in trangthailvOptions"
                        ng-model="searchItem.trangthailamviec">
                      </select>
                    </div>
                  </div>
                  <!-- ./row1 -->
                  <!-- row2 -->
                  <div class="row" style="margin-top: 25px;">
                    <div class="col-md-3">
                      <select class="form-control" ng-change="getTochucByCoso(searchItem.cosodaotao_id)"
                      ng-options="item.cosodaotaoid as item.name for item in cosoOptions"
                      ng-model="searchItem.cosodaotao_id">
                    </select>
                  </div>
                  <div class="col-md-3">
                   <select class="form-control" ng-change="getKhoaByTochuc(searchItem.tochuctructhuoc_id)"
                   ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
                   ng-model="searchItem.tochuctructhuoc_id">
                 </select>
               </div>
               <div class="col-md-3">
                 <select class="form-control" ng-change="getBomonByKhoa(searchItem.khoaphongban_id)"
                 ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
                 ng-model="searchItem.khoaphongban_id">
               </select>
             </div>
             <div class="col-md-3">
               <select class="form-control" 
               ng-options="item.bomontoid as item.name for item in bomonOptions"
               ng-model="searchItem.bomonto_id">
             </select>
           </div>
         </div>
         <!-- ./row2 -->
         <!-- row3 -->
         <div class="row" style="margin-top: 25px;">
          <div class="col-md-6" style="margin:0 30%;">
            <button class="btn btn-info" style="width: 30%;" ng-click="doSearch()">
              <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
              <button class="btn btn-danger" style="width: 30%;" ng-click="doGet();">
              Làm lại</button>
            </div>
          </div>
          <!-- ./row3 -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./search form -->

<!-- total -->
<div class="row">
  <div class="col-md-12">
    <h3 class="countTotal">Số lượng bản ghi : {{total}} bản ghi</h3>
  </div>
</div>
<!-- ./ total -->

<!-- table -->
<section class="panel panel-default">
  <header class="row panel-heading" style="width: 100%; margin:auto;">
   <div class="col-md-12">
     <select class="col-md-2 form-control form-control-sm itemsByPage"
     ng-model="itemsByPage" 
     ng-options="item.value as item.label for item in pageOption"></select>
     <a href="javascript:;" class="btn btn-danger btn-tool" ng-click="showPopup('delete')"
     ng-disabled="!isDelete">Xóa</a>
     <a href="javascript:;" class="btn btn-success btn-tool" ng-click="showPopup('approve')"
     ng-disabled="!isApprove">Phê duyệt</a>
     <a href="javascript:;" class="btn btn-info btn-tool" ng-click="downloadExcel()">
      <i class="arrow_up"></i>
     Xuất</a>
      <a href="javascript:;" class="btn btn-info btn-tool" ng-click="showPopup('showImport')"
      ng-disabled="!isApprove">
        <i class="arrow_down"></i>
     Nhập</a>
   </div>
 </header>

 <table id="dataTbl" class="table table-striped table-advance table-hover" 
 st-safe-src="list" st-table="display_records">
 <thead>
   <th style="width: auto;">
    <input type="checkbox" id="checkall" ng-click="checkAll()">
  </th>
  <th>STT</th>
  <th st-sort="sohieucanbo">Số hiệu</th>
  <th st-sort="hoten">Họ tên</th>
  <th st-sort="trangthailamviec">Trạng thái làm việc</th>
  <th>Đơn vị</th>
  <th>Quá trình</th>
  <th>Quan hệ</th>
  <th>Lương</th>
  <th>Lý lịch</th>
  <th st-sort="trangthai">Trạng thái</th>
  <th>|&#160;Hành động</th>
</thead>

<tbody id="tableBody">
  <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
    <th>
      <input type="checkbox" name="checkbox" value="{{item.id}}" >
    </th>
    <th>{{$index+1}}</th>
    <th ng-if="item.sohieucanbo.length!='0'">
      <p ng-if="item.trangthailamviec != 'Đang công tác'" class="deleted">{{item.sohieucanbo}}</p>
      <p ng-if="item.trangthailamviec == 'Đang công tác'">{{item.sohieucanbo}}</p>
    </th>
    <th ng-if="item.sohieucanbo.length=='0'" style="color: red;">
      <p ng-if="item.trangthailamviec != 'Đang công tác'" class="deleted">Chưa có số hiệu</p>
      <p ng-if="item.trangthailamviec == 'Đang công tác'">Chưa có số hiệu</p>
    </th>
    <td>
      <p ng-if="item.trangthailamviec != 'Đang công tác'" class="deleted">{{item.hoten}}</p>
      <p ng-if="item.trangthailamviec == 'Đang công tác'">{{item.hoten}}</p>
    </td>
    <td>{{item.trangthailamviec}}</td>
    <td>
      <a class="btn btn-primary btn-sm" href="javascript:;" 
      ng-disabled="item.trangthailamviec != 'Đang công tác'"
      ng-click="showPopupOne('showOrg',item)">Xem</a>
    </td>
    <td>
      <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showProc',item)">Xem</a>
    </td>
    <td>
      <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showRel',item)">Xem</a>
    </td>
    <td>
      <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showLuong',item)">Xem</a>
    </td>
    <td>
      <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="loadPrint(item)">Xem</a>
    </td>
    <td>
      <span ng-if="item.trangthai=='1'" class="badge bg-info">Đã duyệt</span>
      <span ng-if="item.trangthai=='0'" class="badge bg-primary">Chưa duyệt</span>
    </td>
    <td>
      <a class="btn btn-success btn-sm" href="javascript:;" title="Phê duyệt" 
      ng-disabled="item.trangthai=='1'||!isApprove" 
      ng-click="showPopupOne('approve',item)"><i class="icon_check_alt2"></i></a>
      <a class="btn btn-danger btn-sm" href="javascript:;" title="Xóa" ng-click="showPopupOne('delete',item)"
      ng-disabled="!isDelete">
      <i class="icon_trash_alt"></i></a>
      <!--  <a class="btn btn-primary btn-sm" href="javascript:;" title="Tải xuống" 
      ng-click="dowloadDoc(item)"><i class="fa fa-download"></i></a> -->
    </td>
  </tr>
</tbody>

<tfoot style="height: 80px;">
  <tr>
    <td colspan="{{columnCount}}" class="text-center">
      <div st-pagination="" st-items-by-page="itemsByPage">
      </div>
    </td>
  </tr>
</tfoot>
</table>

</section>
<!-- ./ table -->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
     <p ng-if="action=='approve'">Phê duyệt các bản ghi được chọn ?</p>
     <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
     <div ng-if="action=='showLevel'">
       <label>Chức vụ</label>
       <textarea class="form-control" disabled>
         {{updateItem.chucvu}}
       </textarea>
     </div>
   </div>
   <div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="doApprove()" ng-if="action=='approve'">
    Xác nhận</button>
    <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="action=='delete'">
    Xóa</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
  </div>
</div>
</div>
</div>
<!-- modal -->

<!--Big Modal -->
<div class="modal fade" id="myBigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <label style="margin-top: 10px;">Cơ sở đào tạo</label>
      <input class="form-control" readonly ng-model="updateItem.cosoName">
    </input>
    <label style="margin-top: 10px;">Tổ chức trực thuộc</label>
    <input class="form-control" readonly ng-model="updateItem.tochucName">
  </input>
  <label style="margin-top: 10px;">Khoa-Phòng ban</label>
  <input class="form-control" readonly ng-model="updateItem.khoaName">
</input>
<label style="margin-top: 10px;">Tổ-Bộ môn</label>
<input class="form-control" readonly ng-model="updateItem.bomonName">
</input>
</div>
<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
</div>
</div>
</div>
</div>
<!--Big modal -->

</div>

</div>