<div>
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
				<li>{{$parent.parentName}}</li>
				<li style="cursor: pointer;">{{$parent.childName}}</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 port-left">
			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-left search-header">Quá trình lương của cán bộ: {{$parent.updateItem.hoten}}</div>
						<div class="widget-icons pull-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div class="padd">
							<div class="form quick-post">
								<div class="col-md-10" style="width: 100%;" id="printThis">

									<div class="row">
										<div style="width: 100%;">
											<h3 style="font-family: sans-serif !important;">I. Quá trình lương</h3>
											<div class="row" style="margin-top: 20px;">
												<table class="table table-striped table-advance table-hover" 
												style="width: 90%;margin-left: 5%;">
												<thead>
													<th>Tháng/Năm</th>
													<th>Ngạch</th>
													<th>Mã ngạch</th>
													<th>Bậc</th>
													<th>Hệ số</th>
													<th>Vượt khung</th>
													<th>Phần trăm hệ số</th>
												</thead>

												<tbody>
													<tr ng-repeat="item in $parent.listLuong">
														<td>{{item.thoidiem|date:'MM/yyyy'}}</td>
														<td>{{item.ngach}}</td>
														<td>{{item.mangach}}</td>
														<td>{{item.bac}}</td>
														<td>{{item.heso}}</td>
														<td>{{item.vuotkhung}}</td>
														<td>
															<p ng-if="item.phantram_hs==0">Không</p>
															<p ng-if="item.phantram_hs==1">Tập sự</p>
															<p ng-if="item.phantram_hs==2">Hưởng nguyên lương</p>
															<p ng-if="item.phantram_hs==3">Hưởng thêm phụ cấp GV</p>
															<p ng-if="item.phantram_hs==4">Hưởng thêm phụ cấp GV-CN</p>
														</td>
													</tr>
												</tbody>

												<tfoot style="height: 80px;">
												</tfoot>

											</table>
										</div>
									</div>
								</div>

								<div class="row">
									<div style="width: 100%;">
										<h3 style="font-family: sans-serif !important;">II. Thông tin hợp đồng</h3>
										<div class="row" style="margin-top: 20px;">
											<table class="table table-striped table-advance table-hover" 
											style="width: 90%;margin-left: 5%;">
											<thead>
												<th>Loại hợp đồng lao động</th>
												<th>Ngày hợp đồng lao động</th>
												<th>Loại hợp đồng làm việc</th>
												<th>Ngày hợp đồng làm việc</th>
											</thead>

											<tbody>
												<tr ng-repeat="item in $parent.listHopdong">
													<td>{{item.loaihdlaodong}}</td>

													<td>{{item.ngayhdlaodong|date:'dd-MM-yyyy'}}</td>

													<td>{{item.loaihdlamviec}}</td>

													<td>{{item.ngayhdlamviec|date:'dd-MM-yyyy'}}</td>
												</tr>
											</tbody>

											<tfoot style="height: 80px;">
											</tfoot>

										</table>
									</div>
								</div>
							</div>

							<div class="row">
								<div style="width: 100%;">
									<h3 style="font-family: sans-serif !important;">III. Đánh giá định kỳ</h3>
									<div class="row" style="margin-top: 20px;">
										<table class="table table-striped table-advance table-hover" 
										style="width: 90%;margin-left: 5%;">
										<thead>
											<th>Năm đánh giá</th>
											<th>Nhận xét đánh giá</th>
											<th>Lý do không đánh giá</th>
											<th>Thời điểm đánh giá</th>
										</thead>

										<tbody>
											<tr ng-repeat="item in $parent.listDanhgia">
												<td>{{item.nam|date:'yyyy'}}</td>
												<td>{{item.nhanxetdanhgia}}</td>
												<td>{{item.lydo}}</td>
												<td>{{item.nam|date:'dd-MM-yyyy'}}</td>
											</tr>
										</tbody>

										<tfoot style="height: 80px;">
										</tfoot>

									</table>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<!-- <div class="col-md-2"> -->
		<!-- <select class="form-control" id="selectedType">
			<option value="" selected>-Định dạng-</option>
			<option value="PDF">PDF</option>
			<option value="DOC">DOC</option>
		</select> -->
	<!-- </div> -->
	<div class="col-md-2">
		<!-- <a class="btn btn-primary" style="width: 100%;" ng-click="$parent.download()">
			<i class="icon_printer"></i>&#160;&#160;&#160;
		Tải xuống</a> -->
	</div>
	<div class="col-md-2"><a class="btn btn-danger" style="width: 100%;" ng-click="$parent.reload()">
		<i class="arrow_left"></i>&#160;&#160;
	Thoát</a></div>
</div>

</div>
</div>
</div>