<div>
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
				<li>{{$parent.parentName}}</li>
				<li style="cursor: pointer;">{{$parent.childName}}</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 port-left">
			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-left search-header">Nhập lý lịch bằng Excel</div>
						<div class="widget-icons pull-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div class="padd">
							<div class="form quick-post">
								<div class="col-md-10" style="width: 100%;">
									<!-- chon don vi -->
									<div class="row" style="margin:auto;">
										<label>Đơn vị công tác</label>
									</div>
									<div class="row">
										<div class="col-md-3">
											<select class="form-control" ng-change="getTochucByCoso(importItem.cosodaotao_id)"
											ng-options="item.cosodaotaoid as item.name for item in cosoOptions"
											ng-model="importItem.cosodaotao_id">
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" ng-change="getKhoaByTochuc(importItem.tochuctructhuoc_id)"
										ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
										ng-model="importItem.tochuctructhuoc_id">
									</select>
								</div>
								<div class="col-md-3">
									<select class="form-control" ng-change="getBomonByKhoa(importItem.khoaphongban_id)"
									ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
									ng-model="importItem.khoaphongban_id">
								</select>
							</div>
							<div class="col-md-3">
								<select class="form-control" 
								ng-options="item.bomontoid as item.name for item in bomonOptions"
								ng-model="importItem.bomonto_id">
							</select>
						</div>
					</div>
					<!-- -- -->

					<!-- tai file mau -->
					<div class="row" style="margin:auto; margin-top: 20px;" ng-if="$parent.importItem.cosodaotao_id">
						<label>Nhập Excel</label>
					</div>
					<div class="row" ng-if="$parent.importItem.cosodaotao_id">
						<div class="col-md-2">
							<button class="btn btn-info" ng-click="$parent.downloadTemp()">
								<i class="arrow_down"></i>&#160;&#160;Tải file mẫu
							</button>
						</div>
						<div class="col-md-4">
							<input class="form-control" type="file" accept=".xlsx" id="importFile">
						</div>
						<div class="col-md-2">
							<button class="btn btn-info" ng-click="$parent.uploadFile()">
								<i class="arrow_up"></i>&#160;&#160;Nhập Excel
							</button>
						</div>
					</div>
					<!-- -- -->

				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<!-- <div class="col-md-2"> -->
		<!-- <select class="form-control" id="selectedType">
			<option value="" selected>-Định dạng-</option>
			<option value="PDF">PDF</option>
			<option value="DOC">DOC</option>
		</select> -->
		<!-- </div> -->
		<div class="col-md-2">
		<!-- <a class="btn btn-primary" style="width: 100%;" ng-click="$parent.download()">
			<i class="icon_printer"></i>&#160;&#160;&#160;
		Tải xuống</a> -->
	</div>
	<div class="col-md-2"><a class="btn btn-danger" style="width: 100%;" ng-click="$parent.reload()">
		<i class="arrow_left"></i>&#160;&#160;
	Thoát</a></div>
</div>

</div>
</div>
</div>