<div>
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
				<li>{{$parent.parentName}}</li>
				<li style="cursor: pointer;">{{$parent.childName}}</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 port-left">
			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-left search-header">Quá trình của cán bộ: {{$parent.updateItem.hoten}}</div>
						<div class="widget-icons pull-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div class="padd">
							<div class="form quick-post">
								<div class="col-md-10" style="width: 100%;" id="printThis">

									<div class="row">
										<div style="width: 100%;">
											<h3 style="font-family: sans-serif !important;">I. Quá trình đào tạo</h3>
											<div class="row" style="margin-top: 20px;">
												<table class="table table-striped table-advance table-hover" 
												style="width: 90%;margin-left: 5%;">
												<thead>
													<th>Nơi đào tạo</th>
													<th>Nghành</th>
													<th>Thời gian</th>
													<th>Văn bằng</th>
													<th>Hình thức</th>
													<th>Tốt nghiệp</th>
												</thead>

												<tbody>
													<tr ng-repeat="item in $parent.listEdu">
														<td>{{item.tentruong}}</td>
														<td>{{item.nganhhoc}}</td>
														<td>{{item.thoigianhoc}}</td>
														<td>{{item.vanbang}}</td>
														<td>
															<p ng-if="item.daotao_boiduong=='0'">Đào tạo</p>
															<p ng-if="item.daotao_boiduong=='1'">Bồi dưỡng</p>
														</td>
														<td>{{item.noidaotao}}</td>
													</tr>
												</tbody>

												<tfoot style="height: 80px;">
												</tfoot>

											</table>
										</div>
									</div>
								</div>

								<div class="row">
									<div style="width: 100%;">
										<h3 style="font-family: sans-serif !important;">II. Quá trình công tác</h3>
										<div class="row" style="margin-top: 20px;">
											<table class="table table-striped table-advance table-hover" 
											style="width: 90%;margin-left: 5%;">
											<thead>
												<th>Chức vụ công tác</th>
												<th>Bắt đầu</th>
												<th>Kết thúc</th>
											</thead>

											<tbody>
												<tr ng-repeat="item in $parent.listWor">
													<td style="max-width: 500px;text-overflow: hidden;">{{item.chucvu}}</td>
													<td>{{item.thoidiem_batdau|date:'dd-MM-yyyy'}}</td>
													<td ng-if="item.thoidiem_ketthuc!=null">{{item.thoidiem_ketthuc|date:'dd-MM-yyyy'}}</td>
													<td ng-if="item.thoidiem_ketthuc==null">Hiện tại</td>
												</tr>
											</tbody>

											<tfoot style="height: 80px;">
											</tfoot>

										</table>
									</div>
								</div>
							</div>

							<div class="row">
								<div style="width: 100%;">
									<h3 style="font-family: sans-serif !important;">III. Quá trình chức vụ</h3>
									<div class="row" style="margin-top: 20px;">
										<table class="table table-striped table-advance table-hover" 
										style="width: 90%;margin-left: 5%;">
										<thead>
											<th>Chức vụ</th>
											<th>Cấp chức vụ</th>
											<th>Phụ cấp</th>
											<th>Thời điểm</th>
										</thead>

										<tbody>
											<tr ng-repeat="item in $parent.listPos">
												<td style="max-width: 500px;text-overflow: hidden;">{{item.ten}}</td>
												<td>{{item.loaicvTen}}</td>
												<td>{{item.phucap}}</td>
												<td ng-if="item.thoidiem!=null">{{item.thoidiem|date:'dd-MM-yyyy'}}</td>
												<td ng-if="item.thoidiem==null">Hiện tại</td>
											</tr>
										</tbody>

										<tfoot style="height: 80px;">
										</tfoot>

									</table>
								</div>
							</div>
						</div>

						<div class="row">
								<div style="width: 100%;">
									<h3 style="font-family: sans-serif !important;">IV. Chế độ cũ</h3>
									<div class="row" style="margin-top: 20px;">
										<table class="table table-striped table-advance table-hover" 
										style="width: 90%;margin-left: 5%;">
										<thead>
											<th>Cơ quan</th>
											<th>Đơn vị</th>
											<th>Địa điểm</th>
											<th>Chức vụ</th>
											<th>Khoảng thời gian</th>
										</thead>

										<tbody>
											<tr ng-repeat="item in $parent.listCdc">
												<td style="max-width: 500px;text-overflow: hidden;">{{item.coquan}}</td>
												<td>{{item.donvi}}</td>
												<td>{{item.diadiem}}</td>
												<td>{{item.chucvu}}</td>
												<td>{{item.thoigian}}</td>
											</tr>
										</tbody>

										<tfoot style="height: 80px;">
										</tfoot>

									</table>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3"></div>
	<!-- <div class="col-md-2"> -->
		<!-- <select class="form-control" id="selectedType">
			<option value="" selected>-Định dạng-</option>
			<option value="PDF">PDF</option>
			<option value="DOC">DOC</option>
		</select> -->
	<!-- </div> -->
	<div class="col-md-2">
		<!-- <a class="btn btn-primary" style="width: 100%;" ng-click="$parent.download()">
			<i class="icon_printer"></i>&#160;&#160;&#160;
		Tải xuống</a> -->
	</div>
	<div class="col-md-2"><a class="btn btn-danger" style="width: 100%;" ng-click="$parent.reload()">
		<i class="arrow_left"></i>&#160;&#160;
	Thoát</a></div>
</div>

</div>
</div>
</div>