<div>
	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
				<li>{{$parent.parentName}}</li>
				<li style="cursor: pointer;">{{$parent.childName}}</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10 port-left">
			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-left search-header">Quan hệ của cán bộ: {{$parent.updateItem.hoten}}</div>
						<div class="widget-icons pull-right">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-body">
						<div class="padd">
							<div class="form quick-post">
								<div class="col-md-10" style="width: 100%;" id="printThis">

									<div class="row">
										<div style="width: 100%;">
											<h3 style="font-family: sans-serif !important;">I. Quan hệ với cá nhân</h3>
											<div class="row" style="margin-top: 20px;">
												<table class="table table-striped table-advance table-hover" 
												style="width: 90%;margin-left: 5%;">
												<thead>
													<th>Họ tên</th>
													<th>Mối quan hệ</th>
													<th>Năm sinh</th>
													<th>Bên</th>
													<th>Mô tả</th>
												</thead>

												<tbody>
													<tr ng-repeat="item in $parent.listIn">
														<td style="max-width: 500px;text-overflow: hidden;">{{item.hoten}}</td>
														<td>{{item.quanhe}}</td>
														<td>{{item.namsinh}}</td>
														<td>
															<p ng-if="item.banthan_vochong==0">Bản thân</p>
															<p ng-if="item.banthan_vochong==1">Bên vợ/chồng</p>
														</td>
														<td>{{item.mota}}</td>
													</tr>
												</tbody>

												<tfoot style="height: 80px;">
												</tfoot>

											</table>
										</div>
									</div>
								</div>

								<div class="row">
									<div style="width: 100%;">
										<h3 style="font-family: sans-serif !important;">II. Quan hệ với tổ chức</h3>
										<div class="row" style="margin-top: 20px;">
											<table class="table table-striped table-advance table-hover" 
											style="width: 90%;margin-left: 5%;">
											<thead>
												<th>Tên tổ chức</th>
												<th>Trụ sở</th>
												<th>Mối quan hệ</th>
											</thead>

											<tbody>
												<tr ng-repeat="item in $parent.listOut">
													<td style="max-width: 500px;text-overflow: hidden;">{{item.tochuc}}</td>
													<td>{{item.truso}}</td>
													<td>{{item.lamgi}}</td>
												</tr>
											</tbody>

											<tfoot style="height: 80px;">
											</tfoot>

										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3"></div>
		<!-- <div class="col-md-2"> -->
			<!-- <select class="form-control" id="selectedType">
				<option value="" selected>-Định dạng-</option>
				<option value="PDF">PDF</option>
				<option value="DOC">DOC</option>
			</select> -->
		<!-- </div> -->
		<div class="col-md-2">
			<!-- <a class="btn btn-primary" style="width: 100%;" ng-click="$parent.download()">
				<i class="icon_printer"></i>&#160;&#160;&#160;
			Tải xuống</a> -->
		</div>
		<div class="col-md-2"><a class="btn btn-danger" style="width: 100%;" ng-click="$parent.reload()">
			<i class="arrow_left"></i>&#160;&#160;
		Thoát</a></div>
	</div>

</div>
</div>
</div>