  <div class="row" ng-controller="pheduyetcvController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGet()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">

        <!-- total -->
        <div class="row">
          <div class="col-md-8">
            <h3 class="countTotal">Số lượng : {{total}} bản ghi</h3>
          </div>
          <div class="col-md-4">
           <button style="margin-top: 20px;
           margin-bottom: 10px; float: right;" class="btn btn-info" ng-click="doGet()">
             <i class="icon_refresh"></i>&#160;&#160; | Làm mới
           </button>
         </div>
       </div>
       <!-- ./ total -->

       <!-- table -->
       <section class="panel panel-default">
        <header class="row panel-heading" style="width: 100%; margin:auto;">
         <div class="col-md-12">
           <select class="col-md-2 form-control form-control-sm itemsByPage"
           ng-model="itemsByPage" 
           ng-options="item.value as item.label for item in pageOption"></select>
         </div>
       </header>

       <table id="dataTbl" class="table table-striped table-advance table-hover" 
       st-safe-src="list" st-table="display_records">
       <thead>
        <th>STT</th>
        <th st-sort="congviec">Công việc</th>
        <th>Mô tả</th>
        <th st-sort="tg_lam">Hạn chót</th>
        <th st-sort="nguoithuchien">Người thực hiện</th>
        <th st-sort="tg_lamthuc">Thời gian hoàn thành</th>
        <th st-sort="trangthai_duyet">Trạng thái duyệt</th>
        <th>Lý do từ chối duyệt</th>
        <th>|&#160;Hành động</th>
      </thead>

      <tbody id="tableBody">
        <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
          <th>{{$index+1}}</th>
          <td style="width: 150px;">{{item.congviec}}</td>
          <td style="width: 100px;">
            <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="openDesc(item)">Xem</a>
          </td>
          <td>{{item.tg_lam}}</td>
          <td>{{item.nguoithuchien}}</td>
          <td ng-if="item.tg_lamthuc!=null">{{item.tg_lamthuc}}</td>
          <td ng-if="item.tg_lamthuc==null">---</td>
          <td>
           <span ng-if="item.trangthai_duyet=='0'" class="badge bg-primary">Chưa duyệt</span>
           <span ng-if="item.trangthai_duyet=='1'" class="badge bg-secondary">Chờ duyệt</span>
           <span ng-if="item.trangthai_duyet=='2'" class="badge bg-success">Phê duyệt</span>
           <span ng-if="item.trangthai_duyet=='3'" class="badge bg-warning" style="background: #e21e1e;">Từ chối duyệt</span>
         </td>
         <td>{{item.lydo_tuchoiduyet}}</td>
         <td>
          <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="openPopup(item)">Cập nhật</a>
        </td>
      </tr>
    </tbody>

    <tfoot style="height: 80px;">
      <tr>
        <td colspan="8" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
</section>
<!-- ./ table -->

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
     <ng-include src="'./containers/pheduyetcv/pheduyetcvPopup.html'"></ng-include>
   </div>
   <div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="changeAppStatus()" ng-if="updateItem.trangthai_duyet=='1'">
    Xác nhận</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
  </div>
</div>
</div>
</div>
<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <textarea class="form-control" disabled>
          {{updateItem.mota}}
      </textarea>
   </div>
   <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
  </div>
</div>
</div>
</div>
<!-- modal -->

</div>
</div>
</div>


