<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Trạng thái duyệt:</label>
		</div>
		<div class="col-md-8">
			<select class="form-control" ng-model="$parent.updateItem.trangthaiduyet"
			 ng-disabled="$parent.updateItem.trangthai_duyet=='2'||$parent.updateItem.trangthai_duyet=='3'">
				<option value="2">Phê duyệt</option>
				<option value="3">Từ chối duyệt</option>
			</select>
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.trangthaiduyet=='3'">
		<div class="col-md-3">
			<label>Lý do từ chối duyệt:</label>
		</div>
		<div class="col-md-8">
			<textarea class="form-control" ng-model="$parent.updateItem.lydo_tuchoiduyet" 
			ng-disabled="$parent.updateItem.trangthai_duyet=='2'||$parent.updateItem.trangthai_duyet=='3'"></textarea>
		</div>
	</div>
</div>