  <div class="row" ng-controller="danhsachcvController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li  style="cursor: pointer;" ng-click="doGet()">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>


    <!-- total -->
    <div class="row">
      <div class="col-md-8">
        <h3 class="countTotal">Công việc chưa hoàn thành : {{total1}} bản ghi</h3>
      </div>
      <div class="col-md-4">
       <button style="margin-top: 20px;
       margin-bottom: 10px; float: right;" class="btn btn-info" ng-click="doGet()">
       <i class="icon_refresh"></i>&#160;&#160; | Làm mới
     </button>
   </div>
 </div>
 <!-- ./ total -->

 <!-- table -->
 <section class="panel panel-default">
  <header class="row panel-heading" style="width: 100%; margin:auto;">
   <div class="col-md-12">
     <select class="col-md-2 form-control form-control-sm itemsByPage"
     ng-model="itemsByPage1" 
     ng-options="item.value as item.label for item in pageOption"></select>
   </header>

   <table id="dataTbl1" class="table table-striped table-advance table-hover" 
   st-safe-src="list1" st-table="display_records1">
   <thead>
    <th>STT</th>
    <th st-sort="congviec">Công việc</th>
    <th>Mô tả</th>
    <th st-sort="tg_lam">Hạn chót</th>
    <th>|&#160;Hành động</th>
  </thead>

  <tbody id="tableBody">
    <tr ng-repeat="item in display_records1" st-select-row="item" st-select-mode="multiple">
      <th>{{$index+1}}</th>
      <td style="max-width: 500px;text-overflow: hidden;">{{item.congviec}}</td>
      <td>
        <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="openDesc(item)">Xem</a>
      </td>
      <td>{{item.tg_lam}}</td>
      <td>
        <a href="javascript:;" class="btn btn-sm btn-success" ng-click="openPopup(item)">Hoàn thành</a>
      </td>
    </tr>
  </tbody>

  <tfoot style="height: 80px;">
    <tr>
      <td colspan="4" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage1">
        </div>
      </td>
    </tr>
  </tfoot>

</table>
</section>
<!-- ./ table -->


<!-- total -->
<div class="row">
  <div class="col-md-12">
    <h3 class="countTotal">Công việc hoàn thành : {{total2}} bản ghi</h3>
  </div>
</div>
<!-- ./ total -->

<!-- table -->
<section class="panel panel-default">
  <header class="row panel-heading" style="width: 100%; margin:auto;">
   <div class="col-md-12">
     <select class="col-md-2 form-control form-control-sm itemsByPage"
     ng-model="itemsByPage2" 
     ng-options="item.value as item.label for item in pageOption"></select>
   </div>
 </header>

 <table id="dataTbl2" class="table table-striped table-advance table-hover" 
 st-safe-src="list2" st-table="display_records2">
 <thead>
  <th>STT</th>
  <th st-sort="congviec">Công việc</th>
  <th>Mô tả</th>
  <th st-sort="tg_lam">Hạn chót</th>
  <th st-sort="tg_lamthuc">Thời gian hoàn thành</th>
  <th st-sort="trangthai_duyet">Tình trạng duyệt</th>
  <th st-sort="nguoipheduyet">Người duyệt</th>
  <th>Lý do từ chối duyệt</th>
</thead>

<tbody id="tableBody">
  <tr ng-repeat="item in display_records2" st-select-row="item" st-select-mode="multiple">
    <th>{{$index+1}}</th>
    <td style="max-width: 150px;text-overflow: hidden;width: 150px;">{{item.congviec}}</td>
    <td style="width: 100px;">
      <a href="javascript:;" class="btn btn-sm btn-primary" ng-click="openDesc(item)">Xem</a>
    </td>
    <td>{{item.tg_lam}}</td>
    <td>{{item.tg_lamthuc}}</td>
    <td>
      <span ng-if="item.trangthai_duyet=='1'" class="badge bg-secondary">Chờ duyệt</span>
      <span ng-if="item.trangthai_duyet=='2'" class="badge bg-success">Phê duyệt</span>
      <span ng-if="item.trangthai_duyet=='3'" class="badge bg-warning" style="background: #e21e1e;">Từ chối duyệt</span>
    </td>
    <td>{{item.nguoipheduyet}}</td>
    <td>{{item.lydo_tuchoiduyet}}</td>  
  </tr>
</tbody>

<tfoot style="height: 80px;">
  <tr>
    <td colspan="7" class="text-center">
      <div st-pagination="" st-items-by-page="itemsByPage2">
      </div>
    </td>
  </tr>
</tfoot>

</table>
</section>
<!-- ./ table -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
     <p>Xác nhận hoàn thành công việc ???</p>
   </div>
   <div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="changeStatus()">
    Xác nhận</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
  </div>
</div>
</div>
</div>
<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <textarea class="form-control" disabled>
        {{updateItem.mota}}
      </textarea>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
    </div>
  </div>
</div>
</div>
<!-- modal -->


</div>
</div>