  <div class="row" ng-controller="dinhkemController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGet()"  style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">
        <!-- search form -->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <div class="col-md-12" style="width: 100%;">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="Tiêu đề" ng-model="updateItem.title"></inputt>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control form-control-sm" placeholder="Mô tả" ng-model="updateItem.desc">
                    </div>
                    <div class="col-md-3">
                      <input type="file" class="form-control form-control-sm" id="myFileField">
                      <input type="hidden" id="selectImgUrl">
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <button class="btn btn-primary" ng-click="doAdd()" ng-disabled="!isAdd">Thêm mới</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./search form -->

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Bảng file đính kèm</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
             <select class="col-md-2 form-control form-control-sm itemsByPage"
             ng-model="itemsByPage" 
             ng-options="item.value as item.label for item in pageOption"></select>
             <a href="javascript:;" class="btn btn-danger btn-tool" ng-click="showPopup('delete')" 
             ng-disabled="!isDelete">Xóa</a>
           </div>
         </header>

         <table id="dataTbl" class="table table-striped table-advance table-hover" 
         st-safe-src="list" st-table="display_records">
         <thead>
           <th style="width: auto;">
            <input type="checkbox" id="checkall" ng-click="checkAll()">
          </th>
          <th>STT</th>
          <th>Tiêu đề</th>
          <th>Ảnh</th>
          <th>Mô tả</th>
          <th>Ngày tạo</th>
        </thead>

        <tbody id="tableBody">
          <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
            <th>
              <input type="checkbox" name="checkbox" value="{{item.id}}" >
            </th>
            <th>{{$index+1}}</th>
            <td>{{item.title}}</td>
            <td><a style="cursor: pointer;" ng-click="dowloadFile(item)">{{item.images}}</a></td>
            <td>{{item.desc}}</td>
            <td>{{item.created_at}}</td>
          </tr>
        </tbody>

        <tfoot style="height: 80px;">
          <tr>
            <td colspan="{{columnCount}}" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage">
              </div>
            </td>
          </tr>
        </tfoot>

      </table>
    </section>
    <!-- ./ table -->

  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
      </div>
      <div class="modal-body" style="background: white;height: auto;">
        <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="action=='delete'">
        Xóa</button>
        <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

</div>