<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label class="required">Cơ sở đào tạo</label>
		</div>
		<div class="col-md-8">
			<select class="form-control" ng-change="getTochucByCoso($parent.updateItem.cosodaotaoid)"
			ng-options="item.cosodaotaoid as item.name for item in cosoOptions"
			ng-model="$parent.updateItem.cosodaotaoid" name="cosodaotaoid">
		</select>
	</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label class="required">Tổ chức trực thuộc</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" ng-change="getKhoaByTochuc($parent.updateItem.tochuctructhuocid)"
		ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
		ng-model="$parent.updateItem.tochuctructhuocid" name="tochuctructhuocid">
	</select>
</div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label class="required">Khoa-Phòng ban</label>
	</div>
	<div class="col-md-8">
		<select class="form-control" name="khoaphongbanid" 
		ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
		ng-model="$parent.updateItem.khoaphongbanid">
	</select>
</div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label class="required">Tên Tổ-Bộ môn</label>
	</div>
	<div class="col-md-8">
		<input name="name" type="text" placeholder="Nhập tên tổ-bộ môn" class="form-control" 
		ng-model="$parent.updateItem.name">
	</div>
</div>
</div>