<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Tên cán bộ:</label>
    </div>
    <div class="col-md-8">
     <input type="text" readonly value="{{$parent.updateItemCdc.lylich_name}}" class="form-control">
   </div>
 </div>
 <!-- row 1 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Tên cơ quan:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập tên cơ quan" class="form-control" maxlength="500" 
   ng-model="$parent.updateItemCdc.coquan">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Tên đơn vị:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Tên đơn vị" class="form-control" ng-model="$parent.updateItemCdc.donvi">
 </div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Địa điểm:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Tên địa điểm" class="form-control" ng-model="$parent.updateItemCdc.diadiem">
 </div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Tên chức vụ:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Tên chức vụ" class="form-control" ng-model="$parent.updateItemCdc.chucvu">
 </div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Khoảng thời gian:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Khoảng thời gian" class="form-control" ng-model="$parent.updateItemCdc.thoigian">
 </div>
</div>

</div>