<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Tên cán bộ:</label>
    </div>
    <div class="col-md-8">
     <input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
   </div>
 </div>
 <!-- row 1 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Tên chức vụ:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập tên chức vụ" class="form-control" maxlength="500" 
   ng-model="$parent.updateItem.chucvu">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Thời điểm bắt đầu:</label>
  </div>
  <div class="col-md-8">
   <input type="date" class="form-control" ng-model="$parent.updateItem.thoidiem_batdau">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Thời điểm kết thúc:</label>
  </div>
  <div class="col-md-8">
   <input type="date" class="form-control" ng-model="$parent.updateItem.thoidiem_ketthuc">
 </div>
</div>

</div>