<div class="form">
	<!-- row 0 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Tên công việc:</label>
		</div>
		<div class="col-md-8">
			<textarea class="form-control" ng-model="$parent.updateItem.congviec" placeholder="Tên công việc"></textarea>
		</div>
	</div>
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Mô tả:</label>
		</div>
		<div class="col-md-8">
			<textarea class="form-control" ng-model="$parent.updateItem.mota" placeholder="Mô tả"></textarea>
		</div>
	</div>
	<!-- row 2 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Hạn chót:</label>
		</div>
		<div class="col-md-8">
			<input type="datetime-local" id="dateDeadine" class="form-control">
		</div>
	</div>
	<!-- row 3 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label>Người thực hiện:</label>
		</div>
		<div class="col-md-8">
			<input type="text"  class="form-control" ng-model="$parent.updateItem.userDo.hoten" 
			ng-keyup="$parent.getCbUser(true,$parent.updateItem.userDo.hoten)"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="Người thực hiện">
			<ul class="dropdown-menu extended notification" ng-if="$parent.updateItem.userDo.hoten.length!='0'"
			style="width: fit-content; min-width: 100% !important;">
			<li ng-repeat="result in $parent.searchResultUserDo" >
				<a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCbUser(result,true)" 
				style="font-size: 14px;">
				{{result.tendangnhap}}-{{result.hoten}}
			</a>
		</li>
	</ul>
</div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label>Người phê duyệt:</label>
	</div>
	<div class="col-md-8">
		<input type="text"  class="form-control" ng-model="$parent.updateItem.userApp.hoten" 
		ng-keyup="$parent.getCbUser(false,$parent.updateItem.userApp.hoten)"
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="Người phê duyệt">
		<ul class="dropdown-menu extended notification" ng-if="$parent.updateItem.userApp.hoten.length!='0'"
		style="width: fit-content; min-width: 100% !important;">
		<li ng-repeat="result in $parent.searchResultUserApp" >
			<a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCbUser(result,false)" 
			style="font-size: 14px;">
			{{result.tendangnhap}}-{{result.hoten}}
		</a>
	</li>
</ul>
</div>
</div>


</div>