<div class="form">
  <!-- row 0 -->
  <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="col-md-3">
      <label>Tên cán bộ:</label>
    </div>
    <div class="col-md-8">
     <input type="text" readonly value="{{$parent.updateItem.lylich_name}}" class="form-control">
   </div>
 </div>
 <!-- row 1 -->
 <div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Nơi đào tạo:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập nơi đào tạo" class="form-control" ng-model="$parent.updateItem.tentruong">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <label>Nghành học: </label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập nghành học" class="form-control" ng-model="$parent.updateItem.nganhhoc">
 </div>
</div>
<!-- row 3 -->
<div class="row" style="margin-top: 20px;">
  <div class="col-md-3">
    <label>Thời gian học:</label>
  </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập Ngày bắt đầu-Ngày kết thúc" class="form-control" 
   ng-model="$parent.updateItem.thoigianhoc">
 </div>
</div>
<!-- row 4 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Hình thức học:</label>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" ng-model="$parent.updateItem.hinhthuchoc" placeholder="Hình thức học">
  </div>
</div>
<!-- row 5 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Khóa học:</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" ng-model="$parent.updateItem.khoahoc">
      <option value="Dài hạn">Dài hạn</option>
      <option value="Ngắn hạn">Ngắn hạn</option>
    </select>
  </div>
</div>
<!-- row 6 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Văn bằng:</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" ng-model="$parent.updateItem.vanbang" 
    ng-options="vb.value as vb.label for vb in listVb">
  </select>
</div>
</div>
<!-- row 7 -->
<div class="row" style="margin-top: 10px;" ng-if="$parent.updateItem.vanbang=='Khác'">
  <div class="col-md-3">
    <label>Văn bằng khác:</label>
  </div>
  <div class="col-md-8">
    <input type="text" placeholder="Nhập tên văn bằng khác" ng-model="$parent.updateItem.tenvanbangkhac" 
    class="form-control">
  </select>
</div>
</div>
<!-- row 8 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Hình thức đào tạo:</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" ng-model="$parent.updateItem.daotao_boiduong">
      <option value='0'>Đào tạo</option>
      <option value='1'>Bồi dưỡng</option>
    </select>
  </div>
</div>
<!-- row 9 -->
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3">
    <label>Nơi tốt nghiệp:</label>
  </div>
  <div class="col-md-8">
    <select class="form-control" ng-model="$parent.updateItem.noidaotao">
      <option value="Trong nước">Trong nước</option>
      <option value="Ngoài nước">Ngoài nước</option>
    </select>
  </div>
</div>


</div>