<div ng-controller="trangchuController">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header" style="font-family: inherit;">
				<i class="fa fa-home"></i> Trang chủ - Hệ thống quản lý nhân sự
			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
				<li>Trang chủ</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-if="$parent.user.khuvuc == '0'">
			<div class="info-box green-bg">
				<i class="fa fa-hospital-o"></i>
				<div class="count">{{countCoso}}</div>
				<div class="title">CƠ SỞ ĐÀO TẠO</div>
			</div>
			<!--/.info-box-->
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-if="$parent.user.khuvuc == '0'">
			<div class="info-box blue-bg">
				<i class="fa fa-users"></i>
				<div class="count">{{countCanbo}}</div>
				<div class="title">CÁN BỘ</div>
			</div>
			<!--/.info-box-->
		</div>
		<!--/.col-->

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-if="$parent.user.khuvuc != '0'">
			<div class="info-box green-bg">
				<i class="fa fa-building-o"></i>
				<div class="title" ng-if="$parent.user.khuvuc == '1'" 
				style="font-size: 15px;margin-top: 30px;">Khu vực Hà Nội</div>
				<div class="title" ng-if="$parent.user.khuvuc == '2'"
				style="font-size: 15px;margin-top: 30px;">Khu vực Vĩnh Phúc</div>
				<div class="title" ng-if="$parent.user.khuvuc == '3'"
				style="font-size: 15px;margin-top: 30px;">Khu vực Thái Nguyên</div>
			</div>
			<!--/.info-box-->
		</div>

		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-if="$parent.user.khuvuc != '0'">
			<div class="info-box blue-bg">
				<i class="fa fa-users"></i>
				<div class="count">{{countCanbo}}</div>
				<div class="title">CÁN BỘ</div>
			</div>
			<!--/.info-box-->
		</div>

		<!--/.col-->
		<div class="col-md-6 portlets">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2  style="margin-left:  20px;">
						<i class="fa fa-user"></i>
						<strong>Thông tin tài khoản</strong></h2>
					<div class="panel-actions">
						<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="wclose"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div style="margin-left:  20px;">
						<div class="row">
							<div class="col-md-3">
								<label>* Tên đăng nhập:</label>
							</div>
							<div class="col-md-8">
								<p style="color: black;">{{$parent.user.tendangnhap}}</p>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-3">
								<label>* Họ tên:</label>
							</div>
							<div class="col-md-8">
								<p>{{$parent.user.hoten}}</p>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-3">
								<label>* E-mail:</label>
							</div>
							<div class="col-md-8">
								<p>{{$parent.user.email}}</p>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-3">
								<label>* Khu vực:</label>
							</div>
							<div class="col-md-8">
								<p ng-if="$parent.user.khuvuc == 0" style="color: red;">Tất cả</p>
								<p ng-if="$parent.user.khuvuc == 1">Hà Nội</p>
								<p ng-if="$parent.user.khuvuc == 2">Vĩnh Phúc</p>
								<p ng-if="$parent.user.khuvuc == 3">Thái Nguyên</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!--/.row-->
</div>