<div class="form">
  <!-- row 1 -->
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
     <select class="form-control form-control-sm" 
     ng-options="item.value as item.label for item in hinhthucOption"
     ng-model="$parent.updateItem.hinhthuc">
   </select>
 </div>
</div>
<!-- row 2 -->
<div id="luanchuyen" class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.hinhthuc=='Luân chuyển'">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-top: 10px;">
    <div class="row">
      <p>Đơn vị mới</p>
    </div>
    <div class="row">
      <select class="form-control" ng-change="getTochucByCoso($parent.updateItem.cosodaotao_id)"
      ng-options="item.cosodaotaoid as item.name for item in $parent.cosoOptions"
      ng-model="$parent.updateItem.cosodaotao_id">
    </select>
  </div>

  <div class="row" style="margin-top: 10px;">
    <select class="form-control" ng-change="getKhoaByTochuc($parent.updateItem.tochuctructhuoc_id)"
    ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
    ng-model="$parent.updateItem.tochuctructhuoc_id">
  </select>
</div>

<div class="row" style="margin-top: 10px;">
  <select class="form-control" ng-change="getBomonByKhoa($parent.updateItem.khoaphongban_id)"
  ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
  ng-model="$parent.updateItem.khoaphongban_id">
</select>
</div>

<div class="row" style="margin-top: 10px;">
  <select class="form-control" 
  ng-options="item.bomontoid as item.name for item in bomonOptions"
  ng-model="$parent.updateItem.bomonto_id">
</select>
</div>

<div class="row" style="margin-top: 10px;">
  <p>Lý do điều chuyển</p>
  <textarea class="form-control" ng-model="$parent.updateItem.lydodieuchuyen">
  </textarea>
</div>

<div class="row" style="margin-top: 10px;">
  <p>Mô tả</p>
  <textarea class="form-control" ng-model="$parent.updateItem.mota">
  </textarea>
</div>

<div class="row" style="margin-top: 10px;">
  <p>Tính từ ngày</p>
  <input type="date" class="form-control" ng-model="$parent.updateItem.ngay">
</div>

</div>

</div>

<!-- row3 -->
<div id="thoiviec" class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.hinhthuc=='Thôi việc'">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-top: 10px;">

    <div class="row" style="margin-top: 10px;">
      <p>Lý do thôi việc</p>
      <textarea class="form-control" ng-model="$parent.updateItem.lydodieuchuyen">
      </textarea>
    </div>

    <div class="row" style="margin-top: 10px;">
      <p>Mô tả</p>
      <textarea class="form-control" ng-model="$parent.updateItem.mota">
      </textarea>
    </div>

    <div class="row" style="margin-top: 10px;">
      <p>Tính từ ngày</p>
      <input type="date" class="form-control" ng-model="$parent.updateItem.ngay">
    </div>

  </div>

</div>

<!-- row4 -->
<div id="thoiviec" class="row" style="margin-top: 20px;" ng-if="$parent.updateItem.hinhthuc=='Nghỉ hưu'">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="margin-top: 10px;">

    <div class="row" style="margin-top: 10px;">
      <p>Lý do nghỉ hưu</p>
      <textarea class="form-control" ng-model="$parent.updateItem.lydodieuchuyen">
      </textarea>
    </div>

    <div class="row" style="margin-top: 10px;">
      <p>Mô tả</p>
      <textarea class="form-control" ng-model="$parent.updateItem.mota">
      </textarea>
    </div>

    <div class="row" style="margin-top: 10px;">
      <p>Tính từ ngày</p>
      <input type="date" class="form-control" ng-model="$parent.updateItem.ngay">
    </div>

  </div>

</div>

</div>