<div>
  <div class="row" ng-controller="dieuchuyencbController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGet();doGetDieuchuyen();" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">
        <!-- search form -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left search-header">Tìm kiếm cán bộ</div>
            <div class="widget-icons pull-right">
              <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <div class="col-md-10" style="width: 100%;">
                  <!-- row1 -->
                  <div class="row">
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập tên cán bộ" class="form-control"
                      ng-model="searchItem.hoten">
                    </div>
                    <div class="col-md-8">
                      <input type="text" placeholder="Nhập số hiệu cán bộ" class="form-control"
                      ng-model="searchItem.sohieucanbo">
                    </select>
                  </div>
                </div>
                <!-- ./row1 -->
                <!-- row2 -->
                <div class="row" style="margin-top: 25px;">
                  <div class="col-md-3">
                    <select class="form-control" ng-change="getTochucByCoso(searchItem.cosodaotao_id)"
                    ng-options="item.cosodaotaoid as item.name for item in cosoOptions"
                    ng-model="searchItem.cosodaotao_id">
                  </select>
                </div>
                <div class="col-md-3">
                 <select class="form-control" ng-change="getKhoaByTochuc(searchItem.tochuctructhuoc_id)"
                 ng-options="item.tochuctructhuocid as item.name for item in tochucOptions"
                 ng-model="searchItem.tochuctructhuoc_id">
               </select>
             </div>
             <div class="col-md-3">
               <select class="form-control" ng-change="getBomonByKhoa(searchItem.khoaphongban_id)"
               ng-options="item.khoaphongbanid as item.name for item in khoaOptions"
               ng-model="searchItem.khoaphongban_id">
             </select>
           </div>
           <div class="col-md-3">
             <select class="form-control" 
             ng-options="item.bomontoid as item.name for item in bomonOptions"
             ng-model="searchItem.bomonto_id">
           </select>
         </div>
       </div>
       <!-- ./row2 -->
       <!-- row3 -->
       <div class="row" style="margin-top: 25px;">
        <div class="col-md-6" style="margin:0 30%;">
          <button class="btn btn-info" style="width: 30%;" ng-click="doSearch()">
            <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
            <button class="btn btn-danger" style="width: 30%;" ng-click="doGet();">
            Làm lại</button>
          </div>
        </div>
        <!-- ./row3 -->
      </div>
    </div>

  </div>
</div>
</div>
<!-- ./search form -->

<!-- total -->
<div class="row">
  <div class="col-md-12">
    <h3 class="countTotal">Danh sách cán bộ đã duyệt : {{total}} bản ghi</h3>
  </div>
</div>
<!-- ./ total -->

<!-- table -->
<section class="panel panel-default">
  <header class="row panel-heading" style="width: 100%; margin:auto;">
   <div class="col-md-12">
     <select class="col-md-2 form-control form-control-sm itemsByPage"
     ng-model="itemsByPage" 
     ng-options="item.value as item.label for item in pageOption"></select>
   </div>
 </header>

 <table  class="table table-striped table-advance table-hover" 
 st-safe-src="list" st-table="display_records">
 <thead>
  <th>STT</th>
  <th st-sort="sohieucanbo">Số hiệu</th>
  <th st-sort="hoten">Họ tên</th>
  <th st-sort="ngaysinh">Ngày sinh</th>
  <th st-sort="gioitinh">Giới tính</th>
  <th>Đơn vị</th>
  <th>|&#160;Hành động</th>
</thead>

<tbody>
  <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
    <th>{{$index+1}}</th>
    <th ng-if="item.sohieucanbo.length!='0'">{{item.sohieucanbo}}</th>
    <th ng-if="item.sohieucanbo.length=='0'" style="color: red;">Chưa có số hiệu</th>
    <td>{{item.hoten}}</td>
    <td>{{item.ngaysinh|date:'dd-MM-yyyy'}}</td>
    <td>
      <p ng-if="item.gioitinh=='1'">Nam</p>
      <p ng-if="item.gioitinh=='0'">Nữ</p>
    </td>
    <td>
      <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showOrg',item)">Xem</a>
    </td>
    <td>
      <a class="btn btn-success btn-sm" href="javascript:;" ng-click="showPopupOne('changeOrg',item)">Điều chuyển</a>
    </td>
  </tr>
</tbody>

<tfoot style="height: 80px;">
  <tr>
    <td colspan="{{columnCount}}" class="text-center">
      <div st-pagination="" st-items-by-page="itemsByPage">
      </div>
    </td>
  </tr>
</tfoot>

</table>
</section>
<!-- ./ table -->

<hr style="border-top: 1.5px solid gray;">


<div class="row">
  <div class="col-md-12 portlets">
    <!-- search form -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left search-header">Tìm kiếm lịch sử điều chuyển</div>
        <div class="widget-icons pull-right">
          <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="padd">
          <div class="form quick-post">
            <div class="col-md-10" style="width: 100%;">
              <!-- row1 -->
              <div class="row">
                <div class="col-md-3">
                  <input type="text" placeholder="Nhập số hiệu cán bộ" class="form-control"
                  ng-model="searchItem2.sohieuCb">
                </div>
                <div class="col-md-3">
                  <input type="text" placeholder="Nhập tên cán bộ" class="form-control"
                  ng-model="searchItem2.hotenCb">
                </div>
                <div class="col-md-3">
                  <input type="date" class="form-control"
                  ng-model="searchItem2.ngaybatdau">
                </select>
              </div>
              <div class="col-md-3">
                <input type="date"  class="form-control"
                ng-model="searchItem2.ngayketthuc">
              </select>
            </div>
          </div>
          <!-- ./row1 -->

          <!-- row2 -->
          <div class="row" style="margin-top: 25px;">
            <div class="col-md-6" style="margin:0 30%;">
              <button class="btn btn-info" style="width: 30%;" ng-click="doSearchDieuchuyen()">
                <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
                <button class="btn btn-danger" style="width: 30%;" ng-click="doGetDieuchuyen();searchItem2={}">
                Làm lại</button>
              </div>
            </div>
            <!-- ./row2 -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ./search form -->

  <!-- total -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="countTotal">Danh sách điều chuyển cán bộ : {{totalDieuchuyen}} bản ghi</h3>
    </div>
  </div>
  <!-- ./ total -->

  <!-- table dieuchuyen -->
  <section class="panel panel-default">
    <header class="row panel-heading" style="width: 100%; margin:auto;">
     <div class="col-md-12">
       <select class="col-md-2 form-control form-control-sm itemsByPage"
       ng-model="itemsByPage2" 
       ng-options="item.value as item.label for item in pageOption"></select>
     </div>
   </header>

   <table class="table table-striped table-advance table-hover" 
   st-safe-src="listDieuchuyen" st-table="display_records2">
   <thead>
    <th>STT</th>
    <th st-sort="ngaydieuchuyen">Ngày</th>
    <th st-sort="sohieuCb">Số hiệu</th>
    <th st-sort="hotenCb">Họ tên</th>
    <th st-sort="hinhthuc">Hình thức</th>
    <th st-sort="trangthaiduyet">Trạng thái duyệt</th>
    <th>Lý do</th>
    <th>Mô tả</th>
    <th>|&#160;Hành động</th>
  </thead>

  <tbody>
    <tr ng-repeat="item2 in display_records2" st-select-row="item" st-select-mode="multiple">
      <th>{{$index+1}}</th>
      <td>{{item2.ngaydieuchuyen|date:'dd-MM-yyyy'}}</td>
      <th ng-if="item2.sohieuCb.length!='0'">{{item2.sohieuCb}}</th>
      <th ng-if="item2.sohieuCb.length=='0'" style="color: red;">Chưa có số hiệu</th>
      <td>{{item2.hotenCb}}</td>
      <th style="color: red;">{{item2.hinhthuc}}</th>
      <td>
        <span ng-if="item2.trangthaiduyet=='1'" class="badge bg-info">Đã duyệt</span>
        <span ng-if="item2.trangthaiduyet=='0'" class="badge bg-primary">Chưa duyệt</span>
      </td>
      <!-- <td>
        <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showOrg',item2)">Xem</a>
      </td> -->
      <td>
        <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showRes',item2)">Xem</a>
      </td>
      <td>
        <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('showDesc',item2)">Xem</a>
      </td>
      <td>
        <a class="btn btn-danger btn-sm" href="javascript:;" ng-disabled="item2.trangthaiduyet=='1'"
        ng-click="confirmDelete(item2)">Xóa bản ghi</a>
      </td>
    </tr>
  </tbody>

  <tfoot style="height: 80px;">
    <tr>
      <td colspan="9" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage2">
        </div>
      </td>
    </tr>
  </tfoot>

</table>
</section>
<!-- ./ table dieuchuyen-->

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
     <p ng-if="action=='approve'">Phê duyệt các bản ghi được chọn ?</p>
     <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
     <div ng-if="action=='showRes'">
       <label>Lý do</label>
       <textarea class="form-control" disabled style="min-height: 200px;">
         {{updateItem.lydodieuchuyen}}
       </textarea>
     </div>
     <div ng-if="action=='showDesc'">
       <label>Mô tả</label>
       <textarea class="form-control" disabled style="min-height: 200px;">
         {{updateItem.mota}}
       </textarea>
     </div>
   </div>
   <div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="doApprove()" ng-if="action=='approve'">
    Xác nhận</button>
    <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="action=='delete'">
    Xóa</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
  </div>
</div>
</div>
</div>
<!-- modal -->

<!--Big Modal -->
<div class="modal fade" id="myBigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="fa fa-user"></i>&#160;&#160;&#160;
      {{updateItem.hoten}}: {{updateItem.sohieucanbo}}</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <label style="margin-top: 10px;">Cơ sở đào tạo</label>
      <input class="form-control" readonly ng-model="updateItem.cosoName">
    </input>
    <label style="margin-top: 10px;">Tổ chức trực thuộc</label>
    <input class="form-control" readonly ng-model="updateItem.tochucName">
  </input>
  <label style="margin-top: 10px;">Khoa-Phòng ban</label>
  <input class="form-control" readonly ng-model="updateItem.khoaName">
</input>
<label style="margin-top: 10px;">Tổ-Bộ môn</label>
<input class="form-control" readonly ng-model="updateItem.bomonName">
</input>
</div>
<div class="modal-footer">
  <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
</div>
</div>
</div>
</div>
<!--Big modal -->

<!--Change Modal -->
<div class="modal fade" id="myChangeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="fa fa-user"></i>&#160;&#160;&#160;
      {{updateItem.hoten}}: {{updateItem.sohieucanbo}}</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <ng-include src="'containers/dieuchuyencb/dieuchuyenPopup.html'"></ng-include>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="doSave()">
      Lưu</button>
      <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
    </div>
  </div>
</div>
</div>
<!--Change modal -->

<!--confirm delete Modal -->
<div class="modal fade" id="confirmDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-keyboard="false" data-backdrop="static">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
    </div>
    <div class="modal-body" style="background: white;height: auto;">
      <p>Xóa bản ghi được chọn ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" ng-click="doDelete()">
      Xóa</button>
      <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
    </div>
  </div>
</div>
</div>
<!--confirm delete Modal -->

</div>

</div>