<div class="form">
	<!-- row 1 -->
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3">
			<label class="required">Cơ sở đào tạo</label>
		</div>
		<div class="col-md-8">
			<select class="form-control" name="cosodaotaoid" 
			ng-options="item.cosodaotaoid as item.name for item in cosoOptions"
			ng-model="$parent.updateItem.cosodaotaoid">
		</select>
	</div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-3">
		<label class="required">Tên tổ chức trực thuộc</label>
	</div>
	<div class="col-md-8">
		<input name="name" type="text" placeholder="Nhập tên tổ chức" 
		class="form-control" ng-model="$parent.updateItem.name">
	</div>
</div>
</div>