  <div class="row" ng-controller="cauhinhhdController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGetAct()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">

        <!-- total -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="countTotal">Số lượng : {{totalAct}} hành động</h3>
          </div>
        </div>
        <!-- ./ total -->

        <!-- table -->
        <section class="panel panel-default">
          <header class="row panel-heading" style="width: 100%; margin:auto;">
           <div class="col-md-12">
             <select class="col-md-2 form-control form-control-sm itemsByPage"
             ng-model="itemsByPage" 
             ng-options="item.value as item.label for item in pageOption"></select>
             <form ng-submit="searchTextChange()">
               <input type="text" class="form-control form-control-sm" ng-model="searchText"
               style="width: 30%;float: right;height: 20%;margin-top: 10px;" placeholder="Tìm kiếm">
             </form>
           </div>
         </header>

         <table id="dataTbl" class="table table-striped table-advance table-hover" 
         st-safe-src="listAct" st-table="display_records">
         <thead>
          <th>STT</th>
          <th st-sort="ma_hd">Mã hành động</th>
          <th st-sort="ten_hd">Tên hành động</th>
          <th st_sort="ma_chucnang">Mã chức năng</th>
          <th st-sort="type">Loại hành động</th>
        </thead>

        <tbody id="tableBody">
          <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
            <th>{{$index+1}}</th>
            <td style="color:#688a7e;"><strong>{{item.ma_hd}}</strong></td>
            <td>{{item.ten_hd}}</td>
            <td>QLNS@{{item.ma_chucnang}}</td>
            <td>{{item.type}}</td>
          </tr>
        </tbody>

        <tfoot style="height: 80px;">
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage">
              </div>
            </td>
          </tr>
        </tfoot>

      </table>
    </section>
    <!-- ./ table -->

  </div>

</div>
</div>
</div>


