<div class="form">
  <!-- row 1 -->
 <div class="row" style="margin-top: 20px;">
 <div class="col-md-3">
      <label>Tên ngạch lương:</label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Nhập tên ngạch lương" class="form-control" ng-model="$parent.updateItem.tenngach">
 </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;">
 <div class="col-md-3">
      <label>Mã ngạch:</label>
    </div>
  <div class="col-md-8">
   <input type="text" placeholder="Mã ngạch" class="form-control" ng-model="$parent.updateItem.mangach">
 </div>
</div>
</div>