<div class="form">
   <!-- row 1 -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
      <label class="required">Mã nhóm</label>
    </div>
    <div class="col-md-8">
      <input name="ma_nhom" type="text" placeholder="Nhập mã nhóm" class="form-control" 
      ng-model="$parent.updateItem.ma_nhom">
   </div>
 </div>
  <!-- row 2 -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3">
      <label class="required">Tên nhóm</label>
    </div>
    <div class="col-md-8">
      <input name="ten" type="text" placeholder="Nhập tên nhóm" class="form-control" 
      ng-model="$parent.updateItem.ten">
   </div>
 </div>
 <!-- row 3 -->
 <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-md-3">
      <label class="required">Mô tả nhóm</label>
    </div>
  <div class="col-md-8">
   <textarea name="mota" placeholder="Mô tả nhóm" ng-model="$parent.updateItem.mota" class="form-control" 
   style="max-width: 100%;min-width: 100%;"></textarea>
 </div>
</div>

</div>