<div class="form">
  <!-- row 1 -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="col-md-6">
        <input class="form-control form-control-sm" type="text" placeholder="Nhập tên đăng nhập" 
        ng-model="$parent.updateUser.tendangnhap" ng-keyup="getCbUser()"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <ul class="dropdown-menu extended notification" ng-if="$parent.updateUser.tendangnhap.length!='0'"
        style="width: fit-content; min-width: 100% !important;">
        <li ng-repeat="result in $parent.searchResultUser" >
          <a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCbUser(result)" 
          style="font-size: 14px;">
            {{result.tendangnhap}}-{{result.hoten}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success" ng-click="addUs()">Thêm vào nhóm</button>
      <button class="btn btn-info" style="margin-left: 5px;" ng-click="searchUser()">
       <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
     </div>
   </div>
 </div>
 <!-- row 2 -->
 <div class="row" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-md-12">

   <table class="table table-striped table-advance table-hover" 
   st-safe-src="listUs" st-table="display_records_us">
   <thead>
    <th>STT</th>
    <th>Tài khoản</th>
    <th>Tên người dùng</th>
    <th>Khu vực</th>
    <th>&#160;Hành động</th>
  </thead>

  <tbody id="tableBody">
    <tr ng-repeat="item in display_records_us" st-select-row="item" st-select-mode="multiple">
      <th>{{$index+1}}</th>
      <td style="color:#688a7e;">{{item.tendangnhap}}</td>
      <td>{{item.hoten}}</td>
      <td>
        <p ng-if="item.khuvuc=='0'" style="color: red;margin:0px;">Tất cả</p>
        <p ng-if="item.khuvuc=='1'" style="margin:0px;">Hà Nội</p>
        <p ng-if="item.khuvuc=='2'" style="margin:0px;">Vĩnh Phúc</p>
        <p ng-if="item.khuvuc=='3'" style="margin:0px;">Thái Nguyên</p>
      </td>
      <td>
        <a href="javascript:;" title="Xóa người dùng" ng-click="deleteUs(item)">
        Xóa người dùng</a>
      </td>
    </tr>
  </tbody>

  <tfoot style="height: 80px;" class="pop__foot">
    <tr>
      <td colspan="{{columnCount}}" class="text-center">
        <div st-pagination="" st-items-by-page="5">
        </div>
      </td>
    </tr>
  </tfoot>

</table>
</div>
</div>

</div>