<div class="form">
  <!-- row 1 -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="col-md-6">
        <input class="form-control form-control-sm" type="text" placeholder="Nhập mã chức năng" 
        ng-model="$parent.updateObject.ma_chucnang"  ng-keyup="$parent.getCbObj()"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <ul class="dropdown-menu extended notification" ng-if="$parent.updateObject.ma_chucnang.length!='0'"
        style="width: fit-content; min-width: 100% !important;">
        <li ng-repeat="result in $parent.searchResultObj" >
          <a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCbObj(result)"
           style="font-size: 14px;">
            {{result.ma_chucnang}}-{{result.ten}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success" ng-click="addObj()">Thêm vào nhóm</button>
      <button class="btn btn-info" style="margin-left: 5px;" ng-click="searchObj()">
         <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
    </div>
    </div>
  </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-md-12">

   <table class="table table-striped table-advance table-hover" 
   st-safe-src="listObj" st-table="display_records_obj">
   <thead>
    <th>STT</th>
    <th>Mã chức năng</th>
    <th>Tên chức năng</th>
    <th>Mô tả</th>
    <th>&#160;Hành động</th>
  </thead>

  <tbody id="tableBody">
    <tr ng-repeat="item in display_records_obj" st-select-row="item" st-select-mode="multiple">
      <th>{{$index+1}}</th>
      <td style="color:#688a7e;" ng-if="item.chucnangcha!='0'">
        <strong>QLNS@{{item.ma_chucnang}}</strong></td>
        <td style="color:red;" ng-if="item.chucnangcha=='0'"><strong>QLNS@{{item.ma_chucnang}}</strong></td>
        <td>{{item.ten}}</td>
        <td>{{item.mota}}</td>
        <td>
          <a href="javascript:;" title="Xóa chức năng" ng-click="deleteObj(item)">
          Xóa chức năng</a>
        </td>
      </tr>
    </tbody>

    <tfoot style="height: 80px;" class="pop__foot">
      <tr>
        <td colspan="{{columnCount}}" class="text-center">
          <div st-pagination="" st-items-by-page="5">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
</div>
</div>

</div> 