  <div class="row" ng-controller="nhomController">

    <div class="col-lg-12">

      <div class="row">
       <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><i class="icon_house_alt"></i>{{$parent.mainSys}}</li>
          <li>{{$parent.parentName}}</li>
          <li ng-click="doGet()" style="cursor: pointer;">{{$parent.childName}}</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 portlets">
        <!-- search form -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-left search-header">Tìm kiếm nhóm</div>
            <div class="widget-icons pull-right">
              <a href="javascript:;" class="wminimize"><i class="fa fa-chevron-up"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <div class="padd">
              <div class="form quick-post">
                <div class="col-md-10" style="width: 100%;">
                  <!-- row1 -->
                  <div class="row">
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập mã nhóm" class="form-control" ng-model="searchItem.ma_nhom">
                    </div>
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập tên nhóm" class="form-control" ng-model="searchItem.ten">
                    </div>
                    <div class="col-md-4">
                      <input type="text" placeholder="Nhập mô tả" class="form-control" ng-model="searchItem.mota">
                    </div>
                  </div>
                  <!-- ./row1 -->
                  <!-- row2 -->
                  <div class="row" style="margin-top: 25px;">
                    <div class="col-md-6" style="margin:0 30%;">
                      <button class="btn btn-info" style="width: 30%;" ng-click="doSearch()">
                        <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
                        <button class="btn btn-danger" style="width: 30%;" ng-click="doGet();searchItem={}">
                        Làm lại</button>
                      </div>
                    </div>
                    <!-- ./row2 -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ./search form -->

          <!-- total -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="countTotal">Số lượng bản ghi : {{total}} bản ghi</h3>
            </div>
          </div>
          <!-- ./ total -->

          <!-- table -->
          <section class="panel panel-default">
            <header class="row panel-heading" style="width: 100%; margin:auto;">
             <div class="col-md-12">
               <select class="col-md-2 form-control form-control-sm itemsByPage"
               ng-model="itemsByPage" 
               ng-options="item.value as item.label for item in pageOption"></select>
               <a href="" class="btn btn-danger btn-tool" ng-click="showPopup('delete')">Xóa</a>
               <a href="" class="btn btn-primary btn-tool" ng-click="showPopup('save')">Thêm mới</a>
             </div>
           </header>

           <table id="dataTbl" class="table table-striped table-advance table-hover" 
           st-safe-src="list" st-table="display_records">
           <thead>
             <th style="width: auto;">
              <input type="checkbox" id="checkall" ng-click="checkAll()">
            </th>
            <th>STT</th>
            <th st-sort="ma_nhom">Mã nhóm</th>
            <th st-sort="ten">Tên nhóm</th>
            <th style="width: auto;">Thành viên</th>
            <th style="width: auto;">Chức năng</th>
            <th style="width: auto;">Hành động</th>
            <th style="width: auto;">Mô tả</th>
            <th>|&#160;Hành động</th>
          </thead>

          <tbody id="tableBody">
            <tr ng-repeat="item in display_records" st-select-row="item" st-select-mode="multiple">
              <th>
                <input type="checkbox" name="checkbox" value="{{item.id}}" >
              </th>
              <th>{{$index+1}}</th>
              <td style="color:#688a7e;"><strong>QLNS@{{item.ma_nhom}}</strong></td>
              <td>{{item.ten}}</td>
              <td>
               <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('getUsers',item)">Xem</a>
             </td>
             <td>
               <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('getObjects',item)">Xem</a>
             </td>
             <td>
               <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('getActions',item)">Xem</a>
             </td>
             <td>
               <a class="btn btn-primary btn-sm" href="javascript:;" ng-click="showPopupOne('show',item)">Xem</a>
             </td>
             <td>
              <a class="btn btn-info btn-sm" href="javascript:;" title="Sửa" ng-click="showPopupOne('save',item)">
                <i class="icon_pencil-edit"></i></a>
                <a class="btn btn-danger btn-sm" href="javascript:;" title="Xóa" ng-click="showPopupOne('delete',item)">
                  <i class="icon_trash_alt"></i></a>
                  <a class="btn btn-success btn-sm" href="javascript:;" title="Tạo bản sao" 
                  ng-click="showPopupOne('clone',item)">
                    <i class="fa fa-files-o"></i></a>
                  </td>
                </tr>
              </tbody>

              <tfoot style="height: 80px;">
                <tr>
                  <td colspan="{{columnCount}}" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage">
                    </div>
                  </td>
                </tr>
              </tfoot>

            </table>
          </section>
          <!-- ./ table -->

        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;QLNS-UTT</h4>
            </div>
            <div class="modal-body" style="background: white;height: auto;">
             <ng-include src="'containers/nhom/nhomPopup.html'" ng-if="action=='save'"></ng-include>
             <p ng-if="action=='delete'">Xóa các bản ghi được chọn ?</p>
             <p ng-if="action=='clone'">Tạo bản sao nhóm được chọn ?</p>
             <div ng-if="action=='show'">
               <label>Mô tả nhóm</label>
               <textarea class="form-control" disabled>{{updateItem.mota}}</textarea>
             </div>
             <ng-include src="'containers/nhom/nhomPopup-Objects.html'" ng-if="action=='getObjects'"></ng-include>
             <ng-include src="'containers/nhom/nhomPopup-Users.html'" ng-if="action=='getUsers'"></ng-include>
           </div>
           <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="doDelete()" ng-if="action=='delete'">
            Xóa</button>
            <button class="btn btn-primary" type="button" ng-click="doSave()" ng-if="action=='save'">
            Lưu</button>
             <button class="btn btn-info" type="button" ng-click="doClone()" ng-if="action=='clone'">
            Xác nhận</button>
            <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->

    <!-- Modal2 -->
    <div class="modal fade" id="myModal_Big" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="margin-left: 15%;">
      <div class="modal-content" style="width: 180%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><i class="icon_floppy_alt"></i>&#160;&#160;&#160;NHÓM-@{{Group.ma_nhom}}</h4>
        </div>
        <div class="modal-body" style="background: white;height: auto;">
         <ng-include src="'./containers/nhom/nhomPopup-Objects.html'" ng-if="action=='getObjects'"></ng-include>
         <ng-include src="'./containers/nhom/nhomPopup-Users.html'" ng-if="action=='getUsers'"></ng-include>
         <ng-include src="'./containers/nhom/nhomPopup-Actions.html'" ng-if="action=='getActions'"></ng-include>
       </div>
       <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-default" type="button">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->

</div>


