<div class="form">
  <!-- row 1 -->
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
      <div class="col-md-6">
        <input class="form-control form-control-sm" type="text" placeholder="Nhập mã hành động" 
        ng-model="$parent.updateAction.ma_hd"  ng-keyup="$parent.getCbAction()"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <ul class="dropdown-menu extended notification" ng-if="$parent.updateAction.ma_hd.length!='0'"
        style="width: fit-content; min-width: 100% !important;">
        <li ng-repeat="result in $parent.searchResultAct" >
          <a href="javascript:;" class="dropdown-item" ng-click="$parent.setValCbAction(result)"
           style="font-size: 14px;">
            {{result.ma_hd}}-{{result.ten_hd}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success" ng-click="addAction()">Thêm vào nhóm</button>
       <button class="btn btn-info" style="margin-left: 5px;" ng-click="searchAct()">
         <i class="icon_search"></i>&#160;&#160;Tìm kiếm</button>
    </div>
  </div>
</div>
<!-- row 2 -->
<div class="row" style="margin-top: 20px;margin-bottom: 10px;">
  <div class="col-md-12">

   <table class="table table-striped table-advance table-hover" 
   st-safe-src="listAct" st-table="display_records_obj">
   <thead>
    <th>STT</th>
    <th>Mã hành động</th>
    <th>Tên hành động</th>
    <th>Loại hành động</th>
    <th>&#160;Hành động</th>
  </thead>

  <tbody id="tableBody">
    <tr ng-repeat="item in display_records_obj" st-select-row="item" st-select-mode="multiple">
      <th>{{$index+1}}</th>
      <td style="color:#688a7e;"><strong>QLNS@{{item.ma_hd}}</strong></td>
      <td>{{item.ten_hd}}</td>
      <td>{{item.type}}</td>
      <td>
        <a href="javascript:;" title="Xóa hành động" ng-click="deleteAction(item)">
        Xóa hành động</a>
      </td>
    </tr>
  </tbody>

  <tfoot style="height: 80px;" class="pop__foot">
    <tr>
      <td colspan="{{columnCount}}" class="text-center">
        <div st-pagination="" st-items-by-page="5">
        </div>
      </td>
    </tr>
  </tfoot>

</table>
</div>
</div>

</div> 